<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            <LinkTo @route="settings">{{t "Manual.Settings.Settings"}}</LinkTo>
            <span>{{svg-jar "arrow-right"}}</span>
            {{t "Manual.Settings.General"}}
        </h2>
        <section class="view-actions">
            <GhTaskButton @buttonText="Save settings" @task={{this.save}} @class="gh-btn gh-btn-primary gh-btn-icon" data-test-button="save" />
        </section>
    </GhCanvasHeader>

    {{#if this.showLeaveSettingsModal}}
        <GhFullscreenModal @modal="leave-settings"
            @confirm={{action "leaveSettings"}}
            @close={{action "toggleLeaveSettingsModal"}}
            @modifier="action wide" />
    {{/if}}


    <div class="gh-main-section">
        <h4 class="gh-main-section-header small bn">{{t "Manual.Settings.PUBLICATION_INFO"}}</h4>
        <section class="gh-expandable">
            <div class="gh-expandable-block">
                <div class="gh-expandable-header">
                    <div>
                        <h4 class="gh-expandable-title">{{t "Manual.Settings.Title_&_description"}}</h4>
                        <p class="gh-expandable-description">{{t "Manual.Settings.The_details_used_to_identify_your_publication_around_the_web"}}</p>
                    </div>
                    <button type="button" class="gh-btn" {{action (toggle "pubInfoOpen" this)}} data-test-toggle-pub-info>
                        <span>
                            {{#if this.pubInfoOpen}}
                                {{t "Manual.Settings.Close"}}
                            {{else}}
                                {{t "Manual.Settings.Expand"}}
                            {{/if}}
                        </span>
                    </button>
                </div>
                <div class="gh-expandable-content">
                    {{#liquid-if this.pubInfoOpen}}
                    <div class="gh-setting-content-extended">
                        <GhFormGroup @errors={{this.settings.errors}} @hasValidated={{this.settings.hasValidated}} @property="title">
                            <GhTextInput
                                @value={{readonly this.settings.title}}
                                @input={{action (mut this.settings.title) value="target.value"}}
                                @focus-out={{action "validate" "title" target=this.settings}}
                                data-test-title-input={{true}}
                            />
                            <GhErrorMessage @errors={{this.settings.errors}} @property="title" />
                            <p>{{t "Manual.Settings.The_name_of_your_site"}}</p>
                        </GhFormGroup>

                        <GhFormGroup @errors={{this.settings.errors}} @hasValidated={{this.settings.hasValidated}} @property="description" @class="description-container">
                            <GhTextInput
                                @value={{readonly this.settings.description}}
                                @input={{action (mut this.settings.description) value="target.value"}}
                                @focus-out={{action "validate" "description" target=this.settings}}
                                data-test-description-input={{true}}
                            />
                            <GhErrorMessage @errors={{this.settings.errors}} @property="description"/>
                            <p>{{t "Manual.Settings.Used_in_your_theme,_meta_data_and_search_results"}}</p>
                        </GhFormGroup>
                    </div>
                    {{/liquid-if}}
                </div>
            </div>

            <div class="gh-expandable-block">
                <div class="gh-expandable-header">
                    <div>
                        <h4 class="gh-expandable-title">{{t "Manual.Settings.Site_timezone"}}</h4>
                        <p class="gh-expandable-description">{{t "Manual.Settings.Set_the_time_and_date_of_your_publication,_used_for_all_published_posts"}}</p>
                    </div>
                    <button type="button" class="gh-btn" {{action (toggle "timezoneOpen" this)}} data-test-toggle-timezone>
                         <span>
                            {{#if this.timezoneOpen}}
                                {{t "Manual.Settings.Close"}}
                            {{else}}
                                {{t "Manual.Settings.Expand"}}
                            {{/if}}
                        </span>
                    </button>
                </div>
                <div class="gh-expandable-content">
                    {{#liquid-if this.timezoneOpen}}
                    <div class="gh-setting-content-extended">
                        <GhTimezoneSelect
                            @timezone={{this.settings.timezone}}
                            @availableTimezones={{this.availableTimezones}}
                            @update={{action "setTimezone"}} />
                    </div>
                    {{/liquid-if}}
                </div>
            </div>

            <div class="gh-expandable-block">
                <div class="gh-expandable-header">
                    <div>
                        <h4 class="gh-expandable-title">{{t "Manual.Settings.Publication_Language"}}</h4>
                        <p class="gh-expandable-description">{{t "Manual.Settings.Set_the_language/locale_which_is_used_on_your_site"}}</p>
                    </div>
                    <button type="button" class="gh-btn" {{action (toggle "langOpen" this)}} data-test-toggle-lang>
                        <span>
                            {{#if this.langOpen}}
                                {{t "Manual.Settings.Close"}}
                            {{else}}
                                {{t "Manual.Settings.Expand"}}
                            {{/if}}
                        </span>
                    </button>
                </div>
                <div class="gh-expandable-content">
                    {{#liquid-if this.langOpen}}
                    <div class="gh-setting-content-extended">
                        <GhFormGroup @errors={{this.settings.errors}} @hasValidated={{this.settings.hasValidated}} @property="lang">
                            <GhTextInput
                                @value={{readonly this.settings.lang}}
                                @input={{action (mut this.settings.lang) value="target.value"}}
                                @focus-out={{action "validate" "lang" target=this.settings}}
                                data-test-input="lang"
                            />
                            <GhErrorMessage @errors={{this.settings.errors}} @property="lang" />
                            <p>{{t "Manual.Settings.Default_English"}} (<strong>en</strong>); {{t "Manual.Settings.you_can_add_translation_files_to_your_theme_for"}} <a href="https://ghost.org/docs/themes/helpers/translate/" target="_blank" rel="noopener">{{t "Manual.Settings.any_language"}}</a></p>
                        </GhFormGroup>
                    </div>
                    {{/liquid-if}}
                </div>
            </div>
        </section>
    </div>

    <div class="gh-main-section">
        <h4 class="gh-main-section-header small bn">{{t "Manual.Settings.SITE_META_SETTINGS"}}</h4>
        <section class="gh-expandable">
            <div class="gh-expandable-block">
                <div class="gh-expandable-header">
                    <div>
                        <h4 class="gh-expandable-title">{{t "Manual.Settings.Meta_data"}}</h4>
                        <p class="gh-expandable-description">{{t "Manual.Settings.Extra_content_for_search_engines"}}</p>
                    </div>
                    <button type="button" class="gh-btn" {{action (toggle "metaDataOpen" this)}} data-test-toggle-meta>
                        <span>
                            {{#if this.metaDataOpen}}
                                {{t "Manual.Settings.Close"}}
                            {{else}}
                                {{t "Manual.Settings.Expand"}}
                            {{/if}}
                        </span>
                    </button>
                </div>
                <div class="gh-expandable-content">
                    {{#liquid-if this.metaDataOpen}}
                        <div class="gh-setting-content-extended">
                            <div class="gh-seo-settings">
                                <div class="gh-seo-settings-left flex-basis-1-2-m flex-basis-2-3-l">
                                    <GhFormGroup @errors={{this.settings.errors}} @hasValidated={{this.settings.hasValidated}} @property="metaTitle">
                                        <label for="metaTitle">{{t "Manual.Settings.Meta_title"}}</label>
                                        <GhTextInput
                                            @id="metaTitle"
                                            @type="text"
                                            @placeholder={{truncate this.settings.title 70}}
                                            @value={{readonly this.settings.metaTitle}}
                                            @input={{action (mut this.settings.metaTitle) value="target.value"}}
                                            data-test-input="metaTitle"
                                        />
                                        <GhErrorMessage @errors={{this.settings.errors}} @property="metaTitle" data-test-error="metaTitle" />
                                        <p>{{t "Manual.Settings.Recommended"}} <b>70</b> {{t "Manual.Settings.characters_You_ve_used"}}<b>{{gh-count-down-characters this.settings.metaTitle 70}}</b></p>
                                    </GhFormGroup>
                                    <GhFormGroup @errors={{this.settings.errors}} @hasValidated={{this.settings.hasValidated}} @property="metaDescription">
                                        <label for="metaDescription">{{t "Manual.Settings.Meta_description"}}</label>
                                        <GhTextarea
                                            @id="metaDescription"
                                            @type="text"
                                            @placeholder={{truncate this.settings.description 300}}
                                            @value={{readonly this.settings.metaDescription}}
                                            @input={{action (mut this.settings.metaDescription) value="target.value"}}
                                            data-test-input="metaDescription"
                                        />
                                        <GhErrorMessage @errors={{this.settings.errors}} @property="metaDescription" data-test-error="metaDescription" />
                                        <p>{{t "Manual.Settings.Recommended"}} <b>156</b> {{t "Manual.Settings.characters_You_ve_used"}} <b>{{gh-count-down-characters this.settings.metaDescription 156}}</b></p>
                                    </GhFormGroup>
                                </div>
                                <div class="flex-basis-1-2-m flex-basis-1-3-l">
                                    <label>{{t "Manual.Settings.Search_engine_result_preview"}}</label>
                                    <div class="gh-seo-container">
                                        <div class="gh-seo-preview">
                                            <div class="flex mb6">
                                                {{svg-jar "google"}}
                                                <div class="gh-seo-search-bar">{{svg-jar "google-search"}}</div>
                                            </div>
                                            <div class="gh-seo-preview-link">{{this.config.blogDomain}}</div>
                                            <div class="gh-seo-preview-title">{{or this.settings.metaTitle this.settings.title}}</div>
                                            <div class="gh-seo-preview-desc">
                                                {{truncate (or this.settings.metaDescription this.settings.description) 159}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/liquid-if}}
                </div>
            </div>

            <div class="gh-expandable-block">
                <div class="gh-expandable-header">
                    <div>
                        <h4 class="gh-expandable-title">{{t "Manual.Settings.Twitter_card"}}</h4>
                        <p class="gh-expandable-description">{{t "Manual.Settings.Customize_structured_data_of_your_site_for_Twitter"}}</p>
                    </div>
                    <button type="button" class="gh-btn" {{action (toggle "twitterCardOpen" this)}} data-test-toggle-twitter>
                        <span>
                            {{#if this.twitterCardOpen}}
                                {{t "Manual.Settings.Close"}}
                            {{else}}
                                {{t "Manual.Settings.Expand"}}
                            {{/if}}
                        </span>
                    </button>
                </div>
                <div class="gh-expandable-content">
                    {{#liquid-if this.twitterCardOpen}}
                    <div class="gh-setting-content-extended">
                        <div class="gh-twitter-settings">
                            <div class="gh-twitter-settings-left flex-basis-1-2-m flex-basis-2-3-l">
                                <label>{{t "Manual.Settings.Twitter_image"}}</label>
                                <GhFormGroup>
                                    <GhImageUploaderWithPreview
                                        @image={{this.settings.twitterImage}}
                                        @text={{t "Manual.Settings.Add_Twitter_image"}}
                                        @allowUnsplash={{true}}
                                        @update={{action (mut this.settings.twitterImage)}}
                                        @remove={{action (mut this.settings.twitterImage) ""}}
                                    />
                                </GhFormGroup>
                                <GhFormGroup @errors={{this.settings.errors}} @hasValidated={{this.settings.hasValidated}} @property="twitterTitle">
                                    <label for="twitterTitle">{{t "Manual.Settings.Twitter_title"}}</label>
                                    <GhTextInput
                                        @id="twitterTitle"
                                        @type="text"
                                        @placeholder={{truncate this.settings.title 70}}
                                        @value={{readonly this.settings.twitterTitle}}
                                        @input={{action (mut this.settings.twitterTitle) value="target.value"}}
                                        data-test-input="twitterTitle"
                                    />
                                    <GhErrorMessage @errors={{this.settings.errors}} @property="twitterTitle" data-test-error="twitterTitle" />
                                </GhFormGroup>
                                <GhFormGroup @errors={{this.settings.errors}} @hasValidated={{this.settings.hasValidated}} @property="twitterDescription">
                                    <label for="twitterDescription">{{t "Manual.Settings.Twitter_description"}}</label>
                                    <GhTextarea
                                        @id="twitterDescription"
                                        @placeholder={{truncate this.settings.description 300}}
                                        @value={{readonly this.settings.twitterDescription}}
                                        @input={{action (mut this.settings.twitterDescription) value="target.value"}}
                                        data-test-input="twitterDescription"
                                    />
                                    <GhErrorMessage @errors={{this.settings.errors}} @property="twitterDescription" data-test-error="twitterDescription" />
                                </GhFormGroup>
                            </div>
                            <div class="flex-basis-1-2-m flex-basis-1-3-l">
                                <label>{{t "Manual.Settings.Twitter_preview"}}</label>
                                <div class="gh-twitter-container">
                                    <div class="flex ma4">
                                        <span>{{svg-jar "social-twitter" class="social-icon"}}</span>
                                        <div class="w-100">
                                            <span class="gh-social-og-title">{{or this.settings.metaTitle this.settings.title}}</span>
                                            <span class="gh-social-og-time">12 hrs</span>
                                            <div class="flex flex-column mt2 mb3">
                                                <span class="gh-social-og-desc w-100 mb2" />
                                                <span class="gh-social-og-desc w-60" />
                                            </div>
                                            <div class="gh-social-twitter-post-preview">
                                                {{#if this.settings.twitterImage}}
                                                    <div class="gh-social-twitter-preview-image" style={{background-image-style this.settings.twitterImage}}></div>
                                                {{/if}}
                                                <div class="gh-social-twitter-preview-content">
                                                    <div class="gh-social-twitter-preview-title">{{or this.settings.twitterTitle this.settings.title}}</div>
                                                    <div class="gh-social-twitter-preview-desc">{{truncate (or this.settings.twitterDescription this.settings.description)}}</div>
                                                    <div class="gh-social-twitter-preview-meta">
                                                        {{svg-jar "twitter-link"}}
                                                        {{this.config.blogDomain}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gh-social-twitter-reactions">
                                                <div class="flex items-center">{{svg-jar "twitter-comment"}}2</div>
                                                <div class="flex items-center">{{svg-jar "twitter-retweet"}}11</div>
                                                <div class="flex items-center">{{svg-jar "twitter-like"}}32</div>
                                                <div class="flex items-center">{{svg-jar "twitter-share"}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/liquid-if}}
                </div>
            </div>

            <div class="gh-expandable-block">
                <div class="gh-expandable-header">
                    <div>
                        <h4 class="gh-expandable-title">{{t "Manual.Settings.Facebook_card"}}</h4>
                        <p class="gh-expandable-description">{{t "Manual.Settings.Customize_structured_data_of_your_site"}}</p>
                    </div>
                    <button type="button" class="gh-btn" {{action (toggle "facebookCardOpen" this)}} data-test-toggle-facebook>
                        <span>
                            {{#if this.facebookCardOpen}}
                                {{t "Manual.Settings.Close"}}
                            {{else}}
                                {{t "Manual.Settings.Expand"}}
                            {{/if}}
                        </span>
                    </button>
                </div>
                <div class="gh-expandable-content">
                    {{#liquid-if this.facebookCardOpen}}
                        <div class="gh-setting-content-extended">
                            <div class="gh-og-settings">
                                <div class="gh-og-settings-left flex-basis-1-2-m flex-basis-2-3-l">
                                    <label>{{t "Manual.Settings.Facebook_image"}}</label>
                                    <GhFormGroup>
                                        <GhImageUploaderWithPreview
                                            @image={{this.settings.ogImage}}
                                            @text={{t "Manual.Settings.Add_Facebook_image"}}
                                            @allowUnsplash={{true}}
                                            @update={{action (mut this.settings.ogImage)}}
                                            @remove={{action (mut this.settings.ogImage) ""}}
                                        />
                                    </GhFormGroup>
                                    <GhFormGroup @errors={{this.settings.errors}} @hasValidated={{this.settings.hasValidated}} @property="ogTitle">
                                        <label for="ogTitle">{{t "Manual.Settings.Facebook_title"}}</label>
                                        <GhTextInput
                                            @id="ogTitle"
                                            @type="text"
                                            @placeholder={{truncate this.settings.title 70}}
                                            @value={{readonly this.settings.ogTitle}}
                                            @input={{action (mut this.settings.ogTitle) value="target.value"}}
                                            data-test-input="ogTitle"
                                        />
                                        <GhErrorMessage @errors={{this.settings.errors}} @property="ogTitle" data-test-error="ogTitle" />
                                    </GhFormGroup>
                                    <GhFormGroup @errors={{this.settings.errors}} @hasValidated={{this.settings.hasValidated}} @property="ogDescription">
                                        <label for="ogDescription">{{t "Manual.Settings.Facebook_description"}}</label>
                                        <GhTextarea
                                            @id="ogDescription"
                                            @placeholder={{truncate this.settings.description 300}}
                                            @value={{readonly this.settings.ogDescription}}
                                            @input={{action (mut this.settings.ogDescription) value="target.value"}}
                                            data-test-input="ogDescription"
                                        />
                                        <GhErrorMessage @errors={{this.settings.errors}} @property="ogDescription" data-test-error="ogDescription" />
                                    </GhFormGroup>
                                </div>
                                <div class="flex-basis-1-2-m flex-basis-1-3-l">
                                    <label>{{t "Manual.Settings.Facebook_preview"}}</label>
                                    <div class="gh-og-container">
                                        <div class="flex ma3 mb2">
                                            <span>{{svg-jar "social-facebook" class="social-icon"}}</span>
                                            <div>
                                                <div class="gh-social-og-title">{{or this.settings.metaTitle this.settings.title}}</div>
                                                <div class="gh-social-og-time">12 hrs</div>
                                            </div>
                                        </div>
                                        <div class="flex flex-column ma3 mt2">
                                            <span class="gh-social-og-desc w-100 mb2" />
                                            <span class="gh-social-og-desc w-60" />
                                        </div>
                                        <div class="gh-social-og-preview">
                                            {{#if this.settings.ogImage}}
                                                <div class="gh-social-og-preview-image" style={{background-image-style this.settings.ogImage}}></div>
                                            {{/if}}
                                            <div class="gh-social-og-preview-bookmark">
                                                {{!-- Ensures description is hidden if title exceeds one line --}}
                                                <div class="gh-social-og-preview-content">
                                                    <div class="gh-social-og-preview-meta">
                                                        {{this.config.blogDomain}}
                                                    </div>
                                                    <div class="gh-social-og-preview-title">{{truncate (or this.settings.ogTitle this.settings.title)}}</div>
                                                    <div class="gh-social-og-preview-desc">{{truncate (or this.settings.ogDescription this.settings.description)}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gh-social-og-reactions">
                                            <span class="gh-social-og-likes">{{svg-jar "facebook-like" class="z-999"}}{{svg-jar "facebook-heart" class="nl1"}}182</span>
                                            <span class="gh-social-og-comments">{{t "Manual.Settings.7_comments"}}</span>
                                            <span class="gh-social-og-comments ml2">{{t "Manual.Settings.2_shares"}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/liquid-if}}
                </div>
            </div>
        </section>
    </div>

    <div class="gh-main-section">
        <h4 class="gh-main-section-header small bn">{{t "Manual.Settings.SOCIAL_ACCOUNTS"}}</h4>
        <section class="gh-expandable">
            <div class="gh-expandable-block">
                <div class="gh-expandable-header">
                    <div>
                        <h4 class="gh-expandable-title">{{t "Manual.Settings.SOCIAL_ACCOUNTS"}}</h4>
                        <p class="gh-expandable-description">{{t "Manual.Settings.Link_your_social_accounts_for_full_structured_data_and_rich_card_support"}}</p>
                    </div>
                    <button type="button" class="gh-btn" {{action (toggle "socialOpen" this)}} data-test-toggle-social>
                        <span>
                            {{#if this.socialOpen}}
                                {{t "Manual.Settings.Close"}}
                            {{else}}
                                {{t "Manual.Settings.Expand"}}
                            {{/if}}
                        </span>
                    </button>
                </div>
                <div class="gh-expandable-content">
                    {{#liquid-if this.socialOpen}}
                    <div class="gh-setting-content-extended">
                        <GhFormGroup @errors={{this.settings.errors}} @hasValidated={{this.settings.hasValidated}} @property="facebook">
                            <GhTextInput
                                @type="url"
                                @placeholder="https://www.facebook.com/ghost"
                                @autocorrect="off"
                                @value={{readonly this.settings.facebook}}
                                @input={{action (mut this._scratchFacebook) value="target.value"}}
                                @focus-out={{action "validateFacebookUrl"}}
                                data-test-facebook-input={{true}}
                            />
                            <GhErrorMessage @errors={{this.settings.errors}} @property="facebook" data-test-facebook-error=true />
                            <p>{{t "Manual.Settings.URL_of_your_publication's_Facebook_Page"}}</p>
                        </GhFormGroup>
                        <GhFormGroup @errors={{this.settings.errors}} @hasValidated={{this.settings.hasValidated}} @property="twitter">
                            <GhTextInput
                                @type="url"
                                @placeholder="https://twitter.com/ghost"
                                @autocorrect="off"
                                @value={{readonly this.settings.twitter}}
                                @input={{action (mut this._scratchTwitter) value="target.value"}}
                                @focus-out={{action "validateTwitterUrl"}}
                                data-test-twitter-input={{true}}
                            />
                            <GhErrorMessage @errors={{this.settings.errors}} @property="twitter" data-test-twitter-error=true />
                            <p>{{t "Manual.Settings.URL_of_your_publication's_Twitter_profile"}}</p>
                        </GhFormGroup>
                    </div>
                    {{/liquid-if}}
                </div>
            </div>
        </section>
    </div>

    <div class="gh-main-section">
        <h4 class="gh-main-section-header small bn">{{t "Manual.Settings.ADVANCED_SETTINGS"}}</h4>
        <section class="gh-expandable">
            <div class="gh-expandable-block">
                <div class="gh-expandable-header">
                    <div>
                        <h4 class="gh-expandable-title">{{t "Manual.Settings.Make_this_site_private"}}</h4>
                        <p class="gh-expandable-description">
                            {{t "Manual.Settings.Enable_protection_with_a_simple_shared_password._All_search_engine_optimization_and_social_features_will_be_disabled."}}
                        </p>
                    </div>
                    <div class="for-switch">
                        <label class="switch" for="settings-private">
                            <input
                                type="checkbox"
                                checked={{this.settings.isPrivate}}
                                id="settings-private"
                                onclick={{action "toggleIsPrivate" value="target.checked"}}
                                data-test-private-checkbox
                            >
                            <span class="input-toggle-component"></span>
                        </label>
                    </div>
                </div>
                <div class="gh-expandable-content">
                    {{#if this.settings.isPrivate}}
                        <div class="gh-setting-content-extended pt4 pb4">
                            <span class="avoid-break-out">
                                {{t "Manual.Settings.A_private_RSS_feed_is_available_at"}}
                                <a href="{{this.privateRSSUrl}}" target="_blank" rel="noopener">{{this.privateRSSUrl}}</a>
                            </span>
                            <GhFormGroup @class="no-margin pt2" @errors={{this.settings.errors}} @hasValidated={{this.settings.hasValidated}} @property="password">
                                <GhTextInput
                                    @value={{readonly this.settings.password}}
                                    @name="general[password]"
                                    @focus-out={{action "validate" "password" target=this.settings}}
                                    @input={{action (mut this.settings.password) value="target.value"}}
                                    data-test-password-input={{true}}
                                />
                                <GhErrorMessage @errors={{this.settings.errors}} @property="password" data-test-password-error=true />
                                <p>{{t "Manual.Settings.Set_the_password_for_this_site"}}</p>
                            </GhFormGroup>
                        </div>
                    {{/if}}
                </div>
            </div>
        </section>
    </div>
</section>
{{outlet}}