<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            <LinkTo @route="settings">{{t "Manual.Settings.Settings"}}</LinkTo>
            <span>{{svg-jar "arrow-right"}}</span>
            {{t "Manual.Settings.Labs"}}
        </h2>
    </GhCanvasHeader>

    <section class="view-container settings-debug">
        <p class="gh-box gh-box-tip">{{svg-jar "idea"}}{{t "Manual.Settings.This_is_a_testing_ground_for_new_or_experimental_features._They_may_change,_break_or_inexplicably_disappear_at_any_time."}}</p>

        <div class="gh-main-section">
            <h4 class="gh-main-section-header small bn">{{t "Manual.Settings.MIGRATION_OPTIONS"}}</h4>
            <div class="gh-expandable">
                <div class="gh-expandable-block">
                    <div class="gh-expandable-header">
                        <div>
                            <h4 class="gh-expandable-title">{{t "Manual.Settings.Import_content"}}</h4>
                            <p class="gh-expandable-description">{{t "Manual.Settings.Import_posts_from_another_Ghost_installation"}}</p>
                        </div>
                        <form id="settings-import" enctype="multipart/form-data">
                            <GhFileUpload
                                @id="importfile"
                                @classNames="flex"
                                @uploadButtonText={{t "Manual.Settings.Import"}}
                                @onUpload={{action "onUpload"}}
                                @acceptEncoding={{this.importMimeType}}
                                data-test-file-input="import"
                            />
                        </form>
                    </div>
                    {{#if this.importErrors}}
                        <div class="gh-import-errors {{if this.importSuccessful "gh-import-errors-alert"}}" data-test-import-errors>
                            <div class="gh-import-errors-title">
                                {{#if this.importSuccessful}}
                                    Import successful with warnings
                                {{else}}
                                    Import failed
                                {{/if}}
                            </div>

                            {{#each this.importErrors as |error|}}
                                <div class="gh-import-error" data-test-import-error>
                                    <p class="gh-import-error-message" data-test-import-error-message>
                                        {{#if error.help}}{{error.help}}: {{/if}}{{error.message}}
                                    </p>

                                    {{#if error.context}}
                                        <div class="gh-import-error-entry" data-test-import-error-context>
                                            <pre>{{error.context}}</pre>
                                        </div>
                                    {{/if}}
                                </div>
                            {{/each}}
                        </div>
                    {{/if}}
                </div>

                <div class="gh-expandable-block">
                    <div class="gh-expandable-header">
                        <div>
                            <h4 class="gh-expandable-title">{{t "Manual.Settings.Export_your_content"}}</h4>
                            <p class="gh-expandable-description">{{t "Manual.Settings.Download_all_of_your_posts_and_settings_in_a_single,_glorious_JSON_file"}}</p>
                        </div>
                        <button type="button" class="gh-btn" {{action "downloadFile" "db"}}><span>{{t "Manual.Settings.Export"}}</span></button>
                    </div>
                </div>

                <div class="gh-expandable-block">
                    <div class="gh-expandable-header">
                        <div>
                            <h4 class="gh-expandable-title">{{t "Manual.Settings.Delete_all_content"}}</h4>
                            <p class="gh-expandable-description">{{t "Manual.Settings.Permanently_delete_all_posts_and_tags_from_the_database,_a_hard_reset"}}</p>
                        </div>
                        <button type="button" class="gh-btn gh-btn-red js-delete" {{action "toggleDeleteAllModal"}}><span>{{t "Manual.Settings.Delete"}}</span></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="gh-main-section">
            <h4 class="gh-main-section-header small bn">{{t "Manual.Settings.BETA_FEATURES"}}</h4>
            <div class="gh-expandable">
                <div class="gh-expandable-block">
                    <GhUploader
                        @extensions={{this.redirectsFileExtensions}}
                        @uploadUrl="/redirects/upload/"
                        @paramName="redirects"
                        @onUploadSuccess={{perform this.redirectUploadResult true}}
                        @onUploadFailure={{perform this.redirectUploadResult false}}
                        as |uploader|
                    >
                    <div class="gh-expandable-header">
                        <div>
                            <h4 class="gh-expandable-title">{{t "Manual.Settings.Redirects"}}</h4>
                            <p class="gh-expandable-description">{{t "Manual.Settings.Configure_redirects_for_old_or_moved_content,_more_info_in_the_docs"}} <a href="https://ghost.org/docs/tutorials/implementing-redirects/"></a></p>
                        </div>
                        <div class="gh-setting-action flex flex-column items-end">
                            {{#if uploader.isUploading}}
                                {{uploader.progressBar}}
                            {{else}}
                                <button
                                    type="button"
                                    class="gh-btn gh-btn-icon {{if this.redirectSuccess "gh-btn-green"}} {{if this.redirectFailure "gh-btn-red"}}"
                                    onclick={{action "triggerFileDialog"}}
                                    data-test-button="upload-redirects"
                                >
                                    <span>
                                        {{#if this.redirectSuccess}}
                                            {{svg-jar "check-circle"}} {{t "Manual.Settings.Uploaded"}}
                                        {{else if this.redirectFailure}}
                                            {{svg-jar "retry"}} Upload Failed
                                        {{else}}
                                            {{t "Manual.Settings.Upload_redirects_YAML/JSON"}}
                                        {{/if}}
                                    </span>
                                </button>
                                <div><a href="#" {{action "downloadFile" "redirects/download"}} data-test-link="download-redirects">{{t "Manual.Settings.Download_current_redirects"}}</a></div>
                            {{/if}}

                            {{#each uploader.errors as |error|}}
                                <div class="gh-setting-error" data-test-error="redirects">{{or error.context error.message}}</div>
                            {{/each}}

                            <div style="display:none">
                                <GhFileInput @multiple={{false}} @action={{uploader.setFiles}} @accept={{this.redirectsFileMimeTypes}} data-test-file-input="redirects" />
                            </div>
                        </div>
                    </div>
                    </GhUploader>
                </div>

                <div class="gh-expandable-block">
                    <GhUploader
                        @extensions={{this.yamlExtension}}
                        @uploadUrl="/settings/routes/yaml/"
                        @paramName="routes"
                        @onUploadSuccess={{perform this.routesUploadResult true}}
                        @onUploadFailure={{perform this.routesUploadResult false}}
                        as |uploader|
                    >
                    <div class="gh-expandable-header">
                        <div>
                            <h4 class="gh-expandable-title">{{t "Manual.Settings.Routes"}}</h4>
                            <p class="gh-expandable-description">{{t "Manual.Settings.Configure_dynamic_routing_by_modifying_the_routes.yaml_file"}}</p>
                        </div>
                        <div class="gh-setting-action flex flex-column items-end">
                            {{#if uploader.isUploading}}
                                {{uploader.progressBar}}
                            {{else}}
                                <button
                                    type="button"
                                    class="gh-btn gh-btn-icon {{if this.routesSuccess "gh-btn-green"}} {{if this.routesFailure "gh-btn-red"}}"
                                    onclick={{action "triggerFileDialog"}}
                                    data-test-button="upload-routes"
                                >
                                    <span>
                                        {{#if this.routesSuccess}}
                                            {{svg-jar "check-circle"}}  {{t "Manual.Settings.Uploaded"}}
                                        {{else if this.routesFailure}}
                                            {{svg-jar "retry"}} Upload Failed
                                        {{else}}
                                            {{t "Manual.Settings.Upload_routes_YAML"}}
                                        {{/if}}
                                    </span>
                                </button>
                                <div><a href="#" {{action "downloadFile" "settings/routes/yaml"}} data-test-link="download-routes">{{t "Manual.Settings.Download_current_routes.yaml"}}</a></div>
                            {{/if}}

                            {{#each uploader.errors as |error|}}
                                <div class="gh-setting-error" data-test-error="routes">{{or error.context error.message}}</div>
                            {{/each}}

                            <div style="display:none">
                                <GhFileInput @multiple={{false}} @action={{uploader.setFiles}} @accept={{this.yamlAccept}} data-test-file-input="routes" />
                            </div>
                        </div>
                    </div>
                    </GhUploader>
                </div>
            </div>
        </div>


        {{#if (enable-developer-experiments)}}
         <div class="gh-main-section">
            <h4 class="gh-main-section-header small bn">{{t "Manual.Settings.ALPHA_FEATURES"}}</h4>
            <div class="gh-expandable">
                <div class="gh-expandable-block">
                    <div class="gh-expandable-header">
                        <div>
                            <h4 class="gh-expandable-title">{{t "Manual.Settings.Google_OAuth_for_staff_users"}}</h4>
                            <p class="gh-expandable-description">
                                {{t "Manual.Settings.Allow_people_to_sign_into_Ghost_Admin_using_Google_SSO"}}
                                <a href="https://ghost.org/docs/tutorials/setting-up-oauth/" target="_blank" rel="noopener">{{t "Manual.Settings.docs_here"}}</a>
                            </p>
                        </div>
                        <div class="for-switch">
                            <GhFeatureFlag @flag="oauthLogin" />
                        </div>
                    </div>
                    <div class="gh-expandable-content">
                        {{#if this.feature.oauthLogin}}
                            <div class="gh-setting-content-extended gh-labs-sso-settings pt2 pb4">
                                <a href="https://console.developers.google.com/" target="_blank" rel="noopener" class="gh-btn gh-btn-white mb4"><span>{{svg-jar "google-favicon"}}Configure Google OAuth</span></a>
                                <GhFormGroup @class="no-margin pt2" @errors={{this.settings.errors}} @hasValidated={{this.settings.hasValidated}} @property="password">
                                    <div class="form-group">
                                        <label for="aouth-client-id">{{t "Manual.Settings.Google_OAuth_Client_ID"}}</label>
                                        <GhTextInput
                                            id="oauth-client-id"
                                            @value={{readonly this.settings.oauthClientId}}
                                            @name="oauth-client-id"
                                            @focus-out={{action "saveOAuthSettings"}}
                                            @input={{action (mut this.settings.oauthClientId) value="target.value"}}
                                        />
                                    </div>

                                    <div class="form-group">
                                        <label for="oauth-client-secret">{{t "Manual.Settings.Google_OAuth_Client_Secret"}}</label>
                                        <GhTextInput
                                            id="oauth-client-secret"
                                            @value={{readonly this.settings.oauthClientSecret}}
                                            @name="oauth-client-secret"
                                            @focus-out={{action "saveOAuthSettings"}}
                                            @input={{action (mut this.settings.oauthClientSecret) value="target.value"}}
                                        />
                                    </div>
                                </GhFormGroup>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <div class="gh-expandable-block">
                    <div class="gh-expandable-header">
                        <div>
                            <h4 class="gh-expandable-title">{{t "Manual.Settings.Match_helper"}}</h4>
                            <p class="gh-expandable-description">
                               Experimental <code>\{{match}}</code> {{t "Manual.Settings.helper_for_themes"}}
                            </p>
                        </div>
                        <div class="for-switch">
                           <GhFeatureFlag @flag="matchHelper" />
                        </div>
                    </div>
                </div>
                <div class="gh-expandable-block">
                    <div class="gh-expandable-header">
                        <div>
                            <h4 class="gh-expandable-title">{{t "Manual.Settings.Tiers"}}</h4>
                            <p class="gh-expandable-description">
                               {{t "Manual.Settings.Allow_custom_tiers_on_site"}}
                            </p>
                        </div>
                        <div class="for-switch">
                           <GhFeatureFlag @flag="multipleProducts" />
                        </div>
                    </div>
                </div>
                <div class="gh-expandable-block">
                    <div class="gh-expandable-header">
                        <div>
                            <h4 class="gh-expandable-title">{{t "Manual.Settings.Email-only_CTA_card"}}</h4>
                            <p class="gh-expandable-description">
                                {{t "Manual.Settings.Add_card_for_a_CTA_that_is_selectively_shown_in_emails_to_free/paid_members"}}
                            </p>
                        </div>
                        <div class="for-switch">
                           <GhFeatureFlag @flag="emailCardSegments" />
                        </div>
                    </div>
                </div>
                <div class="gh-expandable-block">
                    <div class="gh-expandable-header">
                        <div>
                            <h4 class="gh-expandable-title">{{t "Manual.Settings.Show_saved_state_in_editor"}}</h4>
                            <p class="gh-expandable-description">
                                {{t "Manual.Settings.Post_status_in_editor_shows_Saved_when_a_post_has_no_unsaved_changes"}}
                            </p>
                        </div>
                        <div class="for-switch">
                           <GhFeatureFlag @flag="savedIndicator" />
                        </div>
                    </div>
                </div>
                <div class="gh-expandable-block">
                    <div class="gh-expandable-header">
                        <div>
                            <h4 class="gh-expandable-title">{{t "Manual.Settings.Show_saved_state_in_editor"}}</h4>
                            <p class="gh-expandable-description">
                                {{t "Manual.Settings.Allow_dropping_image_files_on_feature_image_to_upload"}}
                            </p>
                        </div>
                        <div class="for-switch">
                           <GhFeatureFlag @flag="featureImgDragDrop" />
                        </div>
                    </div>
                </div>
                <div class="gh-expandable-block">
                    <div class="gh-expandable-header">
                        <div>
                            <h4 class="gh-expandable-title">{{t "Manual.Settings.Members_Filtering"}}</h4>
                            <p class="gh-expandable-description">
                               {{t "Manual.Settings.Allow_using_filtering_features_on_Members"}}
                            </p>
                        </div>
                        <div class="for-switch">
                           <GhFeatureFlag @flag="membersFiltering" />
                        </div>
                    </div>
                </div>
                <div class="gh-expandable-block">
                    <div class="gh-expandable-header">
                        <div>
                            <h4 class="gh-expandable-title">{{t "Manual.Settings.Check_Email"}}</h4>
                            <p class="gh-expandable-description">
                               {{t "Manual.Settings.Allow_email_verification"}}
                            </p>
                        </div>
                        <div class="for-switch">
                           <GhFeatureFlag @flag="checkEmailList" />
                        </div>
                    </div>
                </div>
                <div class="gh-expandable-block">
                    <div class="gh-expandable-header">
                        <div>
                            <h4 class="gh-expandable-title">{{t "Manual.Settings.Email-only_posts"}}</h4>
                            <p class="gh-expandable-description">
                               {{t "Manual.Settings.Enable_posts_visible_only_in_email"}}
                            </p>
                        </div>
                        <div class="for-switch">
                           <GhFeatureFlag @flag="emailOnlyPosts" />
                        </div>
                    </div>
                </div>
                <div class="gh-expandable-block">
                    <div class="gh-expandable-header">
                        <div>
                            <h4 class="gh-expandable-title">{{t "Manual.Settings.Dashboard_2.0"}}</h4>
                            <p class="gh-expandable-description">
                               {{t "Manual.Settings.More_graphs._Better_graphs._Fewer_useless_graphs."}}
                            </p>
                        </div>
                        <div class="for-switch">
                           <GhFeatureFlag @flag="dashboardTwo" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </section>
</section>

{{#if this.showDeleteAllModal}}
    <GhFullscreenModal @modal="delete-all"
        @close={{action "toggleDeleteAllModal"}}
        @modifier="action wide" />
{{/if}}
