<h2 class="gh-canvas-title" data-test-screen-title>
    {{#if this.customViews.activeView}}
        <span class="truncate">{{this.customViews.activeView.name}}</span>
        <button type="button" class="mb1" {{on "click" this.customViews.toggleFormModal}}>
            <span>{{svg-jar "pen" class="fill-midgrey"}}</span>
        </button>
    {{else}}
        {{or @defaultTitle "No @defaultTitle provided"}}
    {{/if}}
</h2>