{{#if image}}
    <div class="gh-image-uploader -with-image">
        <div><img src={{image}}></div>
        <a class="image-cancel" title="{{t "Delete"}}" {{action "remove"}}>
            {{svg-jar "trash"}}
            <span class="hidden">{{t "Delete"}}</span>
        </a>
    </div>
{{else}}
    {{gh-image-uploader
        text=text
        altText=altText
        allowUnsplash=allowUnsplash
        update=(action 'update')
        uploadStarted=(action 'uploadStarted')
        uploadFinished=(action 'uploadFinished')
    }}
{{/if}}
