<section class="gh-canvas">
    <header class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            {{#link-to "settings.apps.index"}}Apps{{/link-to}}
            <span>{{inline-svg "arrow-right"}}</span>
            MailChimp
        </h2>
        <section class="view-actions">
            {{gh-task-button
                task=save
                isRunning=(or save.isRunning pollForSync.isRunning)
                runningText=(if pollForSync.isRunning "Syncing" "Saving")
                class="gh-btn gh-btn-blue gh-btn-icon"
                data-test-button="save"}}
        </section>
    </header>

    <section class="view-container">
        <br>
        <section class="app-grid">
            <div class="app-cell">
                <img class="app-icon" src="assets/img/mailchimpicon.png" />
            </div>
            <div class="app-cell">
                <h3>MailChimp</h3>
                <p>Automatic email newsletters</p>
            </div>
        </section>

        {{#unless feature.subscribers}}
            <p class="gh-box gh-box-red" data-test-subscribers-warning>
                {{inline-svg "idea"}} Subscribers feature is not enabled. To use the MailChimp integration you need to enable it in {{#link-to "settings.labs"}}Labs{{/link-to}}.
            </p>
        {{/unless}}

        <div class="gh-setting-header">MailChimp configuration</div>
        <div class="gh-setting" id="mailchimp-toggle">
            <div class="gh-setting-content">
                <div class="gh-setting-title">Enable MailChimp</div>
                <div class="gh-setting-desc">
                    Synchronise subscriber e-mail addresses daily with your <a href="https://mailchimp.com" target="_blank">MailChimp</a> mailing list.
                </div>
            </div>
            <div class="gh-setting-action">
                {{#gh-form-group errors=mailchimp.errors hasValidated=mailchimp.hasValidated property="isActive" class="right"}}
                    <div class="for-checkbox">
                        <label for="isActive" class="checkbox">
                            {{one-way-checkbox mailchimp.isActive
                                id="isActive"
                                name="isActive"
                                type="checkbox"
                                update=(action "updateIsActive")
                                data-test-checkbox="isActive"}}
                            <span class="input-toggle-component"></span>
                        </label>
                    </div>
                    {{gh-error-message errors=mailchimp.errors property="isActive" data-test-error="isActive"}}
                {{/gh-form-group}}
            </div>
        </div>

        <form class="app-config-form" id="mailchimp-settings" novalidate="novalidate" {{action "fetchLists" on="submit"}}>
            <div class="gh-setting">
                <div class="gh-setting-content">
                    <div class="gh-setting-title">MailChimp API key</div>
                    <div class="gh-setting-desc">Enter your MailChimp API key</div>
                    <div class="gh-setting-content-extended">
                        {{#gh-form-group errors=mailchimp.errors hasValidated=mailchimp.hasValidated property="apiKey"}}
                            {{gh-input mailchimp.apiKey
                                name="apiKey"
                                update=(action "updateApiKey")
                                onenter=(action "fetchLists")
                                focusOut=(action "fetchLists")
                                placeholder="0f387e82271755665bd49683e914856b1e34..."
                                data-test-input="apiKey"}}

                            {{#unless mailchimp.errors.apiKey}}
                                <p>Get your MailChimp API key <a href="https://admin.mailchimp.com/account/api/" target="_blank">here</a>.</p>
                            {{else}}
                                {{gh-error-message errors=mailchimp.errors property="apiKey" data-test-error="apiKey"}}
                            {{/unless}}
                        {{/gh-form-group}}
                    </div>
                </div>
            </div>

            {{#if isFetchingLists}}
                <div class="gh-unsplash-loading">
                    <div class="gh-loading-spinner"></div>
                </div>
            {{else}}
                {{#unless listSelectDisabled}}
                    <div class="gh-setting">
                        <div class="gh-setting-content">
                            <div class="gh-setting-title">MailChimp mailing list</div>
                            <div class="gh-setting-desc">Select the MailChimp list to sync subscribers with</div>

                            <div class="gh-setting-content-extended">
                                {{#gh-form-group errors=mailchimp.errors hasValidated=mailchimp.hasValidated property="activeList"}}
                                    <div class="form-group for-select">
                                        <span class="gh-select">
                                            {{one-way-select selectedList
                                                options=availableLists
                                                optionValuePath="id"
                                                optionLabelPath="name"
                                                update=(action "setList")
                                                disabled=listSelectDisabled
                                                data-test-select="lists"}}
                                            {{inline-svg "arrow-down-small"}}
                                        </span>

                                        {{#if mailchimp.errors.activeList}}
                                            {{gh-error-message errors=mailchimp.errors property="activeList" data-test-error="activeList"}}
                                        {{else}}
                                            <p data-test-sync-info>
                                                {{#if pollForSync.isRunning}}
                                                    Syncing...
                                                {{else}}
                                                    {{#if lastSyncAt}}
                                                        Last synced {{timeSinceLastSync}}{{if (and mailchimp.isActive nextSyncAt) "."}}
                                                    {{/if}}
                                                    {{#if (and mailchimp.isActive nextSyncAt)}}
                                                        Next sync in: {{timeUntilNextSync}}.
                                                    {{/if}}
                                                {{/if}}
                                            </p>
                                        {{/if}}
                                    </div>
                                {{/gh-form-group}}
                            </div>
                        </div>
                    </div>
                {{/unless}}
            {{/if}}
        </form>
    </section>
</section>
