{{#link-to "editor.new" classNames="gh-nav-main-editor"}}{{svg-jar "pen"}}{{t "New story"}}{{/link-to}}
{{#if (eq router.currentRouteName "posts.index")}}
    {{#link-to "posts" (query-params type=null) classNames="gh-nav-main-content active"}}{{svg-jar "content"}}{{t "Stories"}}{{/link-to}}
{{else}}
    {{#link-to "posts" classNames="gh-nav-main-content"}}{{svg-jar "content"}}{{t "Content"}}{{/link-to}}
{{/if}}
{{#link-to "team" classNames="gh-nav-main-users"}}{{svg-jar "account-group"}}{{t "Team"}}{{/link-to}}
<div class="gh-mobile-nav-bar-more" {{action "openMobileMenu" target=ui}}>{{svg-jar "icon" class="icon-gh"}}{{t "More"}}</div>
{{yield}}
