{{#link-to "editor.edit" post.id class="permalink" title="Edit this post"}}
    <h3 class="gh-content-entry-title">{{post.title}}</h3>
    <p>{{subText}}</p>

    <section class="gh-content-entry-meta">
            {{#if isPublished}}
                {{#if post.page}}
                    <span class="page">Page</span>
                {{else}}
                    <time datetime="{{post.publishedAtUTC}}" class="date published">
                        Published {{gh-format-timeago post.publishedAtUTC}}.
                    </time>
                {{/if}}
            {{else}}
                {{#if isScheduled}}
                    <span class="scheduled">Scheduled</span>
                    <span>&ndash;
                        <time datetime="{{post.publishedAtUTC}}" class-="date scheduled">
                            {{gh-format-time-scheduled post.publishedAtUTC blogTimezone}}
                        </time>
                    </span>
                {{else}}
                    <span class="gh-badge gh-badge-red">Draft</span>
                {{/if}}
            {{/if}}

            by {{authorName}} &mdash;
            Last edited {{gh-format-timeago post.updatedAtUTC}}

    </section>
{{/link-to}}
