{{#link-to "tags.tag" tag class="gh-list-data" title="Edit tag"}}
    <h3>
        {{this.tag.name}}
    </h3>
    {{#if this.description}}
        <p class="ma0 pa0 f8 midgrey">
            {{this.description}}
        </p>
    {{/if}}
{{/link-to}}

{{#link-to "tags.tag" tag class="gh-list-data middarkgrey f8" title="Edit tag"}}
    <span class="nowrap">{{this.slug}}</span>
{{/link-to}}

{{#if this.postsCount}}
    {{#link-to "posts" (query-params type=null author=null tag=tag.slug order=null) class="gh-list-data blue f8" title="List posts with this tag"}}
        <span class="nowrap">{{this.postsLabel}}</span>
    {{/link-to}}
{{else}}
    {{#link-to "tags.tag" tag class="gh-list-data" title="Edit tag"}}
        <span class="nowrap f8 midlightgrey">{{this.postsLabel}}</span>
    {{/link-to}}
{{/if}}

{{#link-to "tags.tag" tag class="gh-list-data" title="Edit tag"}}
    <div class="flex items-center justify-end w-100">
        <span class="nr2">{{svg-jar "arrow-right" class="w6 h6 fill-midgrey pa1"}}</span>
    </div>
{{/link-to}}

{{#if showDeleteTagModal}}
{{gh-fullscreen-modal "delete-tag"
    model=tag
    confirm=(action "deleteTag")
    close=(action "toggleDeleteTagModal")
    modifier="action wide"}}
{{/if}}