<span class="gh-select" data-select-text="{{selectedTimezone.label}}" tabindex="0">
    {{one-way-select
        id="activeTimezone"
        name="general[activeTimezone]"
        options=selectableTimezones
        optionValuePath="name"
        optionLabelPath="label"
        value=selectedTimezone
        update=(action "setTimezone")
    }}
    {{svg-jar "arrow-down-small"}}
</span>
{{#if hasTimezoneOverride}}
    <p>Ваш часовой пояс был автоматически установлен на {{activeTimezone}}.</p>
{{/if}}
<p> Местное время в настоящее время {{localTime}}</p>
