<div class="gh-unsplash">
    <div class="gh-unsplash-container">
        <a class="gh-unsplash-logo" href="https://unsplash.com" target="_blank">{{inline-svg "unsplash"}}</a>
        <div class="gh-unsplash-close" aria-role="button">{{inline-svg "close"}}</div>
        <header class="gh-unsplash-header">
            <h1 class="gh-unsplash-header-title">Unsplash</h1>
            <p class="gh-unsplash-header-desc">Beautiful, free photos.<br>
Gifted by the world’s most generous community of photographers. 🎁</p>
            <span class="gh-input-icon">
                {{inline-svg "search"}}
                {{gh-input model.email
                    class="gh-unsplash-search"
                    type="text"
                    name="searchKeyword"
                    placeholder="Search free high-resolution photos"
                    tabindex="1"
                    autocorrect="off"
                    value=""
                }}
            </span>
        </header>
        <section class="gh-unsplash-grid">
            {{#simple-grid as |grid|}}
                {{#each unsplash.photos as |photo|}}
                    {{#grid.image}}
                        {{gh-unsplash-photo photo=photo}}
                    {{/grid.image}}
                {{/each}}
            {{/simple-grid}}
        </section>

        {{!-- TODO: re-enable infinite scroll when we have a good masonry solution --}}
        {{!-- {{gh-infinite-scroll-trigger
            onEnterViewport=(action "loadNextPage")}} --}}
    </div>
</div>
