<div class="grid-cell">
    {{#link-to 'team.user' user.slug data-test-user-id=user.id}}
<<<<<<< HEAD
    <article class="card">
        <div class="card-left">
            <span class="user-list-item-figure" style={{component.userImageBackground}}>
=======
    <article class="apps-card-app">
        <div class="apps-card-left">
            <span class="user-list-item-figure" style={{background-image-style user.profileImageUrl}}>
>>>>>>> TryGhost/master
                <span class="hidden">Photo of {{user.name}}</span>
            </span>
            <div class="card-meta">
                <h3 class="card-title">{{user.name}}</h3>
                <p class="card-desc">Last seen: {{component.lastLoginUTC}}</p>
            </div>
        </div>
        <div class="card-right">
            <div class="configured">
                {{#if user.isLocked}}
                    <span class="gh-badge author">Locked</span>
                {{/if}}
                {{#unless session.user.isAuthorOrContributor}}
                    {{#each user.roles as |role|}}
                        <span class="gh-badge {{role.lowerCaseName}}" data-test-role-name>{{role.name}}</span>
                    {{/each}}
                {{/unless}}
                {{svg-jar "arrow-right"}}
            </div>
        </div>
    </article>
    {{/link-to}}
</div>
