<div class="gh-unsplash">
    <div class="gh-unsplash-container">
        <a class="gh-unsplash-logo" href="https://unsplash.com" target="_blank">{{inline-svg "unsplash"}}</a>
        <div class="gh-unsplash-close" aria-role="button">{{inline-svg "close"}}</div>
        <header class="gh-unsplash-header">
            <h1 class="gh-unsplash-header-title">Unsplash</h1>
            <p class="gh-unsplash-header-desc">Beautiful, free photos.<br>
Gifted by the world’s most generous community of photographers. 🎁</p>
            <span class="gh-input-icon">
                {{inline-svg "search"}}
                {{gh-input model.email
                    class="gh-unsplash-search"
                    type="text"
                    name="searchKeyword"
                    placeholder="Search free high-resolution photos"
                    tabindex="1"
                    autocorrect="off"
                    value=""
                }}
            </span>
        </header>
        <section class="gh-unsplash-grid">
            {{#each unsplash.photos as |photo|}}
                <a class="gh-unsplash-grid-item" href="#">
                    <img src="{{photo.urls.regular}}" alt="" />
                </a>
            {{/each}}
        </section>
    </div>
</div>
