<header class="modal-header">
    <h1>{{t "Are you sure?"}}</h1>
</header>
<a class="close" href="" title="{{t "Close"}}" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">{{t "Close"}}</span></a>

<div class="modal-body">
    {{{t "<strong>WARNING:</strong> All data for this subscriber will be deleted. There is no way to recover this."}}}
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>{{t "Cancel"}}</span></button>
    {{gh-task-button (t "Delete") successText=(t "Deleted") task=deleteSubscriber class="gh-btn gh-btn-red gh-btn-icon"}}
</div>
