<header class="modal-header">
    <h1>
        {{#if response}}
            {{t "Import Successful"}}
        {{else}}
            {{t "Import Subscribers"}}
        {{/if}}
    </h1>
</header>
<a class="close" href="" title="{{t "Close"}}" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">{{t "Close"}}</span></a>

<div class="modal-body">
    {{#if response}}
        <table class="subscribers-import-results">
            <tr>
                <td>{{t "Imported:"}}</td>
                <td align="left">{{response.imported}}</td>
            </tr>
            {{#if response.duplicates}}
                <tr>
                    <td>{{t "Duplicates:"}}</td>
                    <td align="left">{{response.duplicates}}</td>
                </tr>
            {{/if}}
            {{#if response.invalid}}
                <tr>
                    <td>{{t "Invalid:"}}</td>
                    <td align="left">{{response.invalid}}</td>
                </tr>
            {{/if}}
        </table>
    {{else}}
        {{gh-file-uploader
            url=uploadUrl
            paramName="subscribersfile"
            labelText=(t "Select or drag-and-drop a CSV file.")
            uploadStarted=(action "uploadStarted")
            uploadFinished=(action "uploadFinished")
            uploadSuccess=(action "uploadSuccess")}}
    {{/if}}
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} disabled={{closeDisabled}} class="gh-btn">
        <span>{{#if response}}{{t "Close"}}{{else}}{{t "Cancel"}}{{/if}}</span>
    </button>
</div>
