<header class="modal-header">
    <h1>Вы уверены, что хотите удалить этот тег?</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Закрыть</span></a>

<div class="modal-body">
    {{#if tag.post_count}}
        <span class="red">Этот тег прикреплен к {{tag.count.posts}} {{postInflection}}.</span>
    {{/if}}
    Вы собираетесь удалить "<strong>{{tag.name}}</strong>". Это навсегда! Мы предупредили вас, k?
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>Отмена</span></button>
    {{gh-task-button "Delete" successText="Deleted" task=deleteTag class="gh-btn gh-btn-red gh-btn-icon"}}
</div>
