<div class="gh-wn-container {{if this.changelogEntry.custom_excerpt "gh-wn-excerpt"}} {{if this.changelogEntry.feature_image "gh-wn-feature-img"}}">
    {{#if (or this.whatsNew.fetchLatest.isRunning (not this.changelogEntry))}}
        <header class="modal-header" data-test-modal="whats-new">
            <h1>What's new</h1>
        </header>
        <button class="close" href="" title="Close" {{on "click" this.closeModal}}>
            {{svg-jar "close"}}
        </button>
        <div class="modal-body h30">
            {{#if this.whatsNew.fetchLatest.isRunning}}
                <GhLoadingSpinner />
            {{else}}
                <p>Nothing new to report right now, check back soon!</p>
            {{/if}}
        </div>

    {{else}}

        {{#if this.changelogEntry.feature_image}}
            <header class="modal-header gh-wn-header-feature-img" style="background-image:url('{{this.changelogEntry.feature_image}}')" data-test-modal="whats-new">
                <div class="gh-wn-title-container">
                    <span>{{svg-jar "gift" class="w5 h5 fill-white"}}</span>
                    <h2>What's new? • {{moment-format this.changelogEntry.published_at "MMMM D YYYY"}}</h2>
                </div>
            </header>
        {{else}}
            <header class="modal-header gh-wn-header" data-test-modal="whats-new">
                <img src="assets/img/whats-new-header-bg.svg" class="background-img" />
                <span>{{svg-jar "gift" class="w5 h5 fill-white"}}</span>
                <h2>What's new? • {{moment-format this.changelogEntry.published_at "MMMM D YYYY"}}</h2>
            </header>
        {{/if}}

        <button class="close gh-wn-close" href="" title="Close" {{on "click" this.closeModal}}>
            {{svg-jar "close"}}
        </button>
        <div class="modal-body gh-wn-content">
            <h1 class="f1 fw6 ma0 pa0 mb3">{{this.changelogEntry.title}}</h1>
            {{#if this.changelogEntry.custom_excerpt}}
                <p class="ma0 pa0">{{this.changelogEntry.custom_excerpt}} <a href={{this.changelogEntry.url}} target="_blank" class="dib fw6" rel="noopener noreferrer">Read the full post →</a></p>
            {{else}}
                {{{this.changelogEntry.html}}}
            {{/if}}
        </div>
        <div class="modal-footer gh-wn-footer">
            <a href={{this.whatsNew.changelogUrl}} target="_blank" rel="noopener noreferrer">
                See past updates
            </a>
        </div>

    {{/if}}
</div>