<header class="modal-header">
    <h1>{{t "Are you sure you want to delete this tag?"}}</h1>
</header>
<a class="close" href="" title="{{t "common.Close"}}" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">{{t "common.Close"}}</span></a>

<div class="modal-body">
    {{#if tag.count.posts}}
        <span class="red">{{t "This tag is attached to {{postsInflection}}." postsInflection=(t "post" count=tag.count.posts)}}</span>
    {{/if}}
    {{{t "You're about to delete \"<strong>{{name}}</strong>\". This is permanent! We warned you, k?" name=tag.name}}}
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>{{t "common.Cancel"}}</span></button>
    {{gh-task-button (t "taskButton.Delete") successText=(t "taskButton.Deleted") task=deleteTag class="gh-btn gh-btn-red gh-btn-icon"}}
</div>
