<header class="modal-header">
    <h1>Impersonate</h1>
</header>
{{!-- disable mouseDown so it doesn't trigger focus-out validations --}}
<a class="close" href title="Close" {{action "closeModal"}} {{action (optional this.noop) on="mouseDown"}}>
    {{svg-jar "close"}}<span class="hidden">Close</span>
</a>

<div class="modal-body">
    <p>
        Use the link below to log in to your site as <b>{{this.member.name}}</b>.
    </p>

    <fieldset>
        <GhTextInput
            @id="member-signin-url"
            @name="member-signin-url"
            @value={{readonly signin_url}}
        />
        <GhTaskButton
            @class="gh-btn gh-btn-white gh-btn-icon mt3"
            @task={{this.copyMagicLink}}>
            <span>Copy link</span>
            {{#if task.isRunning}}
                <span class="flex items-center member-link-copied ml2">
                    {{svg-jar "check-circle" class="w3 stroke-green animated-icon"}}
                    <span class="green-d1 fade-in">Copied</span>
                </span>
            {{/if}}
        </GhTaskButton>
    </fieldset>
</div>

<div class="modal-footer">
    <button
      {{action "closeModal"}}
      class="gh-btn"><span>Ok</span></button>
</div>
