<header class="modal-header">
    <h1>{{t "Are you sure you want to un-suspend this user?"}}</h1>
</header>
<a class="close" href="" title="{{t "common.Close"}}" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">{{t "common.Close"}}</span></a>

<div class="modal-body">
    {{{t "<strong>WARNING:</strong> This user will be able to log in again and will have the same permissions they had previously."}}}
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>{{t "common.Cancel"}}</span></button>
    {{gh-task-button (t "taskButton.Un-suspend") successText=(t "taskButton.Un-suspended") task=unsuspendUser class="gh-btn gh-btn-red gh-btn-icon" data-test-modal-confirm=true}}
</div>
