<header class="modal-header" data-test-modal="delete-user">
    <h1>Вы уверены, что хотите удалить этого пользователя?</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Закрыть</span></a>

<div class="modal-body">
    <p><strong>ПРЕДУПРЕЖДЕНИЕ:</strong> Вы собираетесь удалить пользователя '<strong>{{user.name}}</strong>'. Вы не сможете восстановить это.</p>
    {{#if user.count.posts}}
        <ul>
            <li>У пользователя больше не будет доступа к этому блогу</li>
            <li><strong data-test-text="user-post-count">{{pluralize user.count.posts 'post'}}</strong> Все созданное этим пользователем будет удалено</li>
            <li>Все остальные данные пользователя будут удалены</li>
        </ul>
    {{else}}
        <ul>
            <li>У пользователя больше не будет доступа к этому блогу</li>
            <li>Все данные пользователя будут удалены.</li>
        </ul>
    {{/if}}
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn" data-test-button="cancel-delete-user">
        <span>Отмена</span>
    </button>
    {{gh-task-button (if user.count.posts "Delete user and their posts" "Delete user")
        successText="Deleted"
        task=deleteUser
        class="gh-btn gh-btn-red gh-btn-icon"
        data-test-button="confirm-delete-user"}}
</div>
