<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            <LinkTo @route="integrations" data-test-link="integrations-back">{{t "Manual.Integrations.Integrations"}}</LinkTo>
            <span>{{svg-jar "arrow-right"}}</span>
            Zapier
        </h2>
    </GhCanvasHeader>

    <section class="view-container">

        <section class="gh-main-section no-heading">
            <div class="gh-main-section-block overflow-hidden">
                <div class="gh-main-section-content app-detail-heading app-grid">
                    <div class="app-cell">
                        <img class="app-icon" src="assets/img/zapier.svg" />
                    </div>
                    <div class="app-cell overflow-hidden">
                        <h3>Zapier</h3>
                        <p>{{t "Manual.Integrations.Automation_for_your_favorite_apps"}}</p>

                        <div class="gh-zapier-data-container">
                            <div class="gh-zapier-data">
                                <div class="data-label">Admin API key</div>
                                <div class="data highlight-hover">
                                    <div class="relative flex items-center {{unless this.copyAdminKey.isRunning "hide-child-instant"}}">
                                        <span class="admin-key" data-test-text="admin-key">
                                            {{this.integration.adminKey.secret}}
                                        </span>
                                        <div class="app-api-buttons child">
                                            <button type="button" {{action "confirmRegenerateKeyModal" this.integration.adminKey}} class="app-button-regenerate">
                                                {{svg-jar "reload" class="w4 h4 stroke-midgrey"}}
                                            </button>
                                            <button type="button" {{action (perform this.copyAdminKey)}} class="app-button-copy">
                                                {{#if this.copyAdminKey.isRunning}}
                                                {{svg-jar "check-circle" class="w3 v-mid mr2 stroke-white"}} {{t "Manual.Integrations.Copied"}}
                                                {{else}}
                                                    {{t "Manual.Integrations.Copy"}}
                                                {{/if}}
                                            </button>
                                        </div>
                                    </div>
                                    {{#if (eq this.regeneratedKeyType this.integration.adminKey.type)}}
                                        <div class="green"> {{t "Manual.Integrations.Admin_API_Key_was_successfully_regenerated"}} </div>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="gh-zapier-data">
                                <div class="data-label">API URL</div>
                                <div class="data highlight-hover">
                                    <div class="relative flex items-center {{unless this.copyApiUrl.isRunning "hide-child-instant"}}">
                                        <span class="api-url" data-test-text="api-url">
                                            {{this.apiUrl}}
                                        </span>
                                        <div class="app-api-buttons child">
                                            <button type="button" {{action (perform this.copyApiUrl)}} class="app-button-copy">
                                                {{#if this.copyApiUrl.isRunning}}
                                                    {{svg-jar "check-circle" class="w3 v-mid mr2"}} {{t "Manual.Integrations.Copied"}}
                                                {{else}}
                                                    {{t "Manual.Integrations.Copy"}}
                                                {{/if}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="zapier-toggle" class="gh-main-section">
            <h4 class="gh-main-section-header large bn">Zapier templates</h4>
            <p class="gh-main-section-description">{{t "Manual.Integrations.Explore_pre_built_templates_for_common_automation_tasks"}}</p>
            <div class="gh-setting-content gh-setting-content--no-action">
                <div class="gh-setting-content-extended">
                    <div class="apps-grid gh-settings-zapier-templates">
                        <div class="apps-grid-cell">
                            <article class="apps-card-app">
                                <div class="apps-card-left">
                                    <div class="flex items-center">
                                        <figure class="apps-card-app-orb" style="background-image:url(assets/img/logos/orb-black-1.png);background-size:32px;"></figure>
                                        {{svg-jar "arrow-right" class="fill-midgrey w4 ml2"}}
                                        <figure class="apps-card-app-icon" style="background-image:url(assets/img/twitter.svg);background-size:32px;"></figure>
                                    </div>
                                    <div class="apps-card-meta">
                                        <h3 class="apps-card-app-title">{{t "Manual.Integrations.Share_new_posts_to_Twitter"}}</h3>
                                    </div>
                                </div>
                                <div class="gh-card-right">
                                    <a href="https://zapier.com/app/editor/template/50909" target="_blank" rel="noopener" class="gh-btn gh-btn-outline zapier-template-link"><span>{{t "Manual.Integrations.Use_this_Zap"}}</span></a>
                                </div>
                            </article>
                        </div>
                        <div class="apps-grid-cell">
                            <article class="apps-card-app">
                                <div class="apps-card-left">
                                    <div class="flex items-center">
                                        <figure class="apps-card-app-orb" style="background-image:url(assets/img/logos/orb-black-2.png);background-size:32px;"></figure>
                                        {{svg-jar "arrow-right" class="fill-midgrey w4 ml2"}}
                                        <figure class="apps-card-app-icon" style="background-image:url(assets/img/slackicon.png);background-size:30px;"></figure>
                                    </div>
                                    <div class="apps-card-meta">
                                        <h3 class="apps-card-app-title">{{t "Manual.Integrations.Share_scheduled_posts_with_your_team_in_Slack"}}</h3>
                                    </div>
                                </div>
                                <div class="gh-card-right">
                                    <a href="https://zapier.com/app/editor/template/359499" target="_blank" rel="noopener" class="gh-btn gh-btn-outline zapier-template-link"><span>{{t "Manual.Integrations.Use_this_Zap"}}</span></a>
                                </div>
                            </article>
                        </div>
                        <div class="apps-grid-cell">
                            <article class="apps-card-app">
                                <div class="apps-card-left">
                                    <div class="flex items-center">
                                        <figure class="apps-card-app-orb" style="background-image:url(assets/img/logos/orb-black-3.png);background-size:32px;"></figure>
                                        {{svg-jar "arrow-right" class="fill-midgrey w4 ml2"}}
                                        <figure class="apps-card-app-icon" style="background-image:url(assets/img/patreon.svg);background-size:28px;"></figure>
                                    </div>
                                    <div class="apps-card-meta">
                                        <h3 class="apps-card-app-title">{{t "Manual.Integrations.Connect_Patreon_to_your_Ghost_membership_site"}}</h3>
                                    </div>
                                </div>
                                <div class="gh-card-right">
                                    <a href="https://zapier.com/app/editor/template/75801" target="_blank" rel="noopener" class="gh-btn gh-btn-outline zapier-template-link"><span>{{t "Manual.Integrations.Use_this_Zap"}}</span></a>
                                </div>
                            </article>
                        </div>
                        <div class="apps-grid-cell">
                            <article class="apps-card-app">
                                <div class="apps-card-left">
                                    <div class="flex items-center">
                                        <figure class="apps-card-app-orb" style="background-image:url(assets/img/logos/orb-black-4.png);background-size:32px;"></figure>
                                        {{svg-jar "arrow-right" class="fill-midgrey w4 ml2"}}
                                        <figure class="apps-card-app-icon" style="background-image:url(assets/img/zero-bounce.png);background-size:30px;"></figure>
                                    </div>
                                    <div class="apps-card-meta">
                                        <h3 class="apps-card-app-title">{{t "Manual.Integrations.Protect_email_delivery_with_email_verification"}}</h3>
                                    </div>
                                </div>
                                <div class="gh-card-right">
                                    <a href="https://zapier.com/app/editor/template/359415" target="_blank" rel="noopener" class="gh-btn gh-btn-outline zapier-template-link"><span>{{t "Manual.Integrations.Use_this_Zap"}}</span></a>
                                </div>
                            </article>
                        </div>
                        <div class="apps-grid-cell">
                            <article class="apps-card-app">
                                <div class="apps-card-left">
                                    <div class="flex items-center">
                                        <figure class="apps-card-app-orb" style="background-image:url(assets/img/logos/orb-black-5.png);background-size:32px;"></figure>
                                        {{svg-jar "arrow-right" class="fill-midgrey w4 ml2"}}
                                        <figure class="apps-card-app-icon" style="background-image:url(assets/img/paypal.svg);background-size:26px;"></figure>
                                    </div>
                                    <div class="apps-card-meta">
                                        <h3 class="apps-card-app-title">{{t "Manual.Integrations.Add_members_for_successful_sales_in_PayPal"}}</h3>
                                    </div>
                                </div>
                                <div class="gh-card-right">
                                    <a href="https://zapier.com/app/editor/template/184423" target="_blank" rel="noopener" class="gh-btn gh-btn-outline zapier-template-link"><span>{{t "Manual.Integrations.Use_this_Zap"}}</span></a>
                                </div>
                            </article>
                        </div>
                        <div class="apps-grid-cell">
                            <article class="apps-card-app">
                                <div class="apps-card-left">
                                    <div class="flex items-center">
                                        <figure class="apps-card-app-orb rot-1" style="background-image:url(assets/img/logos/orb-black-3.png);background-size:32px;"></figure>
                                        {{svg-jar "arrow-right" class="fill-midgrey w4 ml2"}}
                                        <figure class="apps-card-app-icon" style="background-image:url(assets/img/paypal.svg);background-size:26px;"></figure>
                                    </div>
                                    <div class="apps-card-meta">
                                        <h3 class="apps-card-app-title">{{t "Manual.Integrations.Unsubscribe_members_who_cancel_a_subscription_in_PayPal"}}</h3>
                                    </div>
                                </div>
                                <div class="gh-card-right">
                                    <a href="https://zapier.com/app/editor/template/359348" target="_blank" rel="noopener" class="gh-btn gh-btn-outline zapier-template-link"><span>Use_this_Zap</span></a>
                                </div>
                            </article>
                        </div>
                        <div class="apps-grid-cell">
                            <article class="apps-card-app">
                                <div class="apps-card-left">
                                    <div class="flex items-center">
                                        <figure class="apps-card-app-orb rot-2" style="background-image:url(assets/img/logos/orb-black-1.png);background-size:32px;"></figure>
                                        {{svg-jar "arrow-right" class="fill-midgrey w4 ml2"}}
                                        <figure class="apps-card-app-icon" style="background-image:url(assets/img/google-docs.svg);background-size:22px;"></figure>
                                    </div>
                                    <div class="apps-card-meta">
                                        <h3 class="apps-card-app-title">{{t "Manual.Integrations.Send_new_post_drafts_from_Google_Docs_to_Ghost"}}</h3>
                                    </div>
                                </div>
                                <div class="gh-card-right">
                                    <a href="https://zapier.com/app/editor/template/50924" target="_blank" rel="noopener" class="gh-btn gh-btn-outline zapier-template-link"><span>{{t "Manual.Integrations.Use_this_Zap"}}</span></a>
                                </div>
                            </article>
                        </div>
                        <div class="apps-grid-cell">
                            <article class="apps-card-app">
                                <div class="apps-card-left">
                                    <div class="flex items-center">
                                        <figure class="apps-card-app-orb rot-3" style="background-image:url(assets/img/logos/orb-black-4.png);background-size:32px;"></figure>
                                        {{svg-jar "arrow-right" class="fill-midgrey w4 ml2"}}
                                        <figure class="apps-card-app-icon id-typeform" style="background-image:url(assets/img/typeform.svg);background-size:32px;"></figure>
                                    </div>
                                    <div class="apps-card-meta">
                                        <h3 class="apps-card-app-title">{{t "Manual.Integrations.Survey_new_members_using_Typeform"}}</h3>
                                    </div>
                                </div>
                                <div class="gh-card-right">
                                    <a href="https://zapier.com/app/editor/template/359407" target="_blank" rel="noopener" class="gh-btn gh-btn-outline zapier-template-link"><span>{{t "Manual.Integrations.Use_this_Zap"}}</span></a>
                                </div>
                            </article>
                        </div>
                        <div class="apps-grid-cell">
                            <article class="apps-card-app">
                                <div class="apps-card-left">
                                    <div class="flex items-center">
                                        <figure class="apps-card-app-orb rot-3" style="background-image:url(assets/img/logos/orb-black-1.png);background-size:32px;"></figure>
                                        {{svg-jar "arrow-right" class="fill-midgrey w4 ml2"}}
                                        <figure class="apps-card-app-icon" style="background-image:url(assets/img/mailchimp.svg);background-size:32px;"></figure>
                                    </div>
                                    <div class="apps-card-meta">
                                        <h3 class="apps-card-app-title">{{t "Manual.Integrations.Sync_email_subscribers_in_Ghost_Mailchimp"}}</h3>
                                    </div>
                                </div>
                                <div class="gh-card-right">
                                    <a href="https://zapier.com/app/editor/template/359342" target="_blank" rel="noopener" class="gh-btn gh-btn-outline zapier-template-link"><span>{{t "Manual.Integrations.Use_this_Zap"}}</span></a>
                                </div>
                            </article>
                        </div>
                    </div>

                    <div class="zapier-footer">
                        <a href="https://zapier.com/apps/ghost/integrations?utm_medium=partner_api&utm_source=widget&utm_campaign=Widget" target="_blank" rel="noopener"><span>{{t "Manual.Integrations.See_more_Ghost_integrations_powered_by"}}</span> <figure style="background-image:url(assets/img/zapier-logo.svg); background-size: 42px;"></figure></a>
                    </div>

                </div>
            </div>
        </section>
    </section>
</section>

{{#if this.showRegenerateKeyModal}}
    <GhFullscreenModal @modal="regenerate-key"
        @model={{hash
            apiKey=this.selectedApiKey
            integration=this.integration
            internalIntegration="zapier"
        }}
        @confirm={{action "regenerateKey"}}
        @close={{action "cancelRegenerateKeyModal"}}
        @modifier="action wide" />
{{/if}}
