{{#koenig-card
    class=(concat "ba b--white relative kg-card-hover miw-100 relative" (if isEditing "pt1 pb1 pl6 nl6 pr6 nr6"))
    headerOffset=headerOffset
    toolbar=toolbar
    payload=payload
    isSelected=isSelected
    isEditing=isEditing
    selectCard=(action selectCard)
    deselectCard=(action deselectCard)
    editCard=(action editCard)
    saveCard=(action saveCard)
    onLeaveEdit=(action "leaveEditMode")
    editor=editor
}}
    {{#if isEditing}}
        {{gh-cm-editor payload.code
            class="koenig-card-html--editor"
            autofocus=true
            lineWrapping=true
            update=(action "updateCode")
            mode=cmMode
        }}
        <input
            type="text"
            value={{readonly payload.language}}
            onblur={{action (mut payload.language) value="target.value"}}
            placeholder="Language..."
            class="absolute top-1 right-1 w-20 pa1 ba b--lightgrey fs-base z-999"
        />
    {{else}}
        <div class="koenig-card-html-rendered">
            <pre><code class="line-numbers {{if payload.language (concat "language-" payload.language)}}">{{escapedCode}}</code></pre>
        </div>
        {{#if payload.language}}
            <div class="absolute top-2 right-2 flex justify-center items-center pa2 br2 bg-white-90">
                <span class="db fs-base ttu">{{payload.language}}</span>
            </div>
        {{/if}}
        <div class="koenig-card-click-overlay"></div>
    {{/if}}
{{/koenig-card}}