{{#if this.error}}
<div class="failed flex items-start gh-members-upload-errorcontainer error">
    <div class="mr3">
        {{svg-jar "warning" class="nudge-top--2 w5 h5 fill-red"}}
    </div>
    <div class="ma0">
        <p class="ma0 pa0 flex-grow w-100">The import contains errors!</p>
        <ul class="ma0 pa0 mt4 list bt b--whitegrey">
            <li class="gh-members-import-errormessage">
                <span>{{{error.message}}}</span>
            </li>
        </ul>
    </div>
</div>
{{/if}}

{{#if this.fileData}}
    <GhFormGroup>
        <div class="gh-members-import-scrollarea">
            <GhMembersImportTable
                @data={{this.fileData}}
                @setMapping={{this.setMapping}}/>
        </div>

        <div class="mt4">
            <label for="label-input"><span class="fw6 f8 dib mb1">Label these members</span></label>
            <GhMemberLabelInput @member={{this.labels}} @triggerId="label-input" />
        </div>
    </GhFormGroup>
{{else}}
    <div class="bg-whitegrey-l2 ba b--whitegrey br3 gh-image-uploader gh-members-import-spinner">
        <GhLoadingSpinner />
    </div>
{{/if}}
