{{!-- {{#if this.error}}
<div class="failed flex items-start gh-members-upload-errorcontainer error">
    <div class="mr3">
        {{svg-jar "warning" class="nudge-top--2 w5 h5 fill-red"}}
    </div>
    <div class="ma0">
        <p class="ma0 pa0 flex-grow w-100">{{this.error.message}}</p>
    </div>
</div>
{{/if}} --}}

{{#if this.fileData}}
    <GhFormGroup class="gh-members-import-mapping">
        <div class="gh-members-import-mappingwrapper {{if (and this.error @showErrors) "error"}}">
            <div class="gh-members-import-scrollarea">
                <GhMembersImportTable
                    @data={{this.fileData}}
                    @setMapping={{this.setMapping}}/>
            </div>
        </div>
        {{#if (and this.error @showErrors)}}
            <p class="pt2 error">{{this.error.message}}</p>
        {{/if}}
        <p class="pt2">If an email address in your CSV matches an existing member, they will be updated with the mapped values.</p>

        <div class="mt6">
            <label for="label-input"><span class="fw6 f8 dib mb1">Label these members</span></label>
            <GhMemberLabelInput @onChange={{this.updateLabels}} @triggerId="label-input" />
        </div>
    </GhFormGroup>
{{else}}
    <div class="bg-whitegrey-l2 ba b--whitegrey br3 gh-image-uploader gh-members-import-spinner">
        <GhLoadingSpinner />
    </div>
{{/if}}
