<section class="gh-canvas">
    <header class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            {{#link-to "settings.apps.index"}}{{t "Apps"}}{{/link-to}}
            <span>{{svg-jar "arrow-right"}}</span>
            {{t "Unsplash"}}
        </h2>
        <section class="view-actions">
            {{gh-task-button task=save class="gh-btn gh-btn-blue gh-btn-icon" data-test-save-button=true}}
        </section>
    </header>

    {{#if showLeaveSettingsModal}}
        {{gh-fullscreen-modal "leave-settings"
            confirm=(action "leaveSettings")
            close=(action "toggleLeaveSettingsModal")
            modifier="action wide"}}
    {{/if}}

    <section class="view-container">
        <br>
        <section class="app-grid">
            <div class="app-cell">
                <img class="app-icon" src="assets/img/unsplashicon.png" />
            </div>
            <div class="app-cell">
                <h3>{{t "Unsplash"}}</h3>
                <p>{{t "Beautiful, free photos"}}</p>
            </div>
        </section>

        <div class="gh-setting-header">{{t "Unsplash configuration"}}</div>
        <div class="gh-setting" id="unsplash-toggle">
            <div class="gh-setting-content">
                <div class="gh-setting-title">{{t "Enable Unsplash"}}</div>
                <div class="gh-setting-desc">{{{t "Enable <a href=\"{{link}}\" target=\"_blank\">Unsplash</a> image integration for your posts" link="https://unsplash.com"}}}</div>
            </div>
            <div class="gh-setting-action">
                <div class="form-group right">
                    <div class="for-checkbox">
                        <label for="isActive" class="checkbox">
                                <input
                                    type="checkbox"
                                    checked={{unsplashSettings.isActive}}
                                    id="isActive"
                                    name="isActive"
                                    onclick={{action "update" value="target.checked"}}
                                    data-test-checkbox="unsplash"
                                >
                                <span class="input-toggle-component"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
