<div class="gh-expandable-block">
    <h4 class="gh-expandable-header">
        <div>
            <h4 class="gh-expandable-title">{{t "Manual.Settings.Default_newsletter_recipients"}}</h4>
            <p class="gh-expandable-description">{{t "Manual.Settings.Who_do_you_usually_want_to_send_emails_to?"}}</p>
        </div>
        <button type="button" class="gh-btn" {{on "click" @toggleExpansion}} data-test-toggle="post-access"><span>{{if @expanded "Close" "Expand"}}</span></button>
    </h4>
    <div class="gh-expandable-content">
        {{#liquid-if @expanded}}
        <div class="flex flex-column w-50">
            <div class="{{if this.isDisabled "disabled-overlay"}}">
                <div
                    class="gh-radio member-segments {{if this.isSegmentSelected "active"}}"
                    {{on "click" (fn this.setDefaultEmailRecipients "segment")}}
                >
                    <div class="gh-radio-button"></div>
                    <div class="gh-radio-content">
                        <div class="gh-radio-label">{{t "Manual.Settings.Send_emails_to"}}</div>
                        <div class="gh-radio-desc select-members">
                            <GhMembersSegmentSelect
                                @segment={{this.settings.editorDefaultEmailRecipientsFilter}}
                                @onChange={{this.setDefaultEmailRecipientsFilter}}
                                @enforcedCountFilter="subscribed:true"
                            />
                        </div>
                    </div>
                </div>
                <div
                    class="gh-radio {{if this.isVisibilitySelected "active"}}"
                    {{on "click" (fn this.setDefaultEmailRecipients "visibility")}}
                >
                    <div class="gh-radio-button"></div>
                    <div class="gh-radio-content">
                        <div class="gh-radio-label">{{t "Manual.Settings.Match_post_access_level"}}</div>
                    </div>
                </div>
                <div
                    class="gh-radio {{if this.isNobodySelected "active"}}"
                    {{on "click" (fn this.setDefaultEmailRecipients "none")}}
                >
                    <div class="gh-radio-button"></div>
                    <div class="gh-radio-content">
                        <div class="gh-radio-label">{{t "Manual.Settings.Nobody"}}</div>
                    </div>
                </div>
                <div
                    class="gh-radio {{if this.isDisabledSelected "active"}}"
                    {{on "click" (fn this.setDefaultEmailRecipients "disabled")}}
                >
                    <div class="gh-radio-button"></div>
                    <div class="gh-radio-content">
                        <div class="gh-radio-label">{{t "Manual.Settings.Disabled"}}</div>
                    </div>
                </div>
            </div>
        </div>
        {{/liquid-if}}
    </div>
</div>