<div data-test-editor-post-status ...attributes>
    {{#if this.isSaving}}
        {{t "Manual.Others.Saving"}}
    {{else if (or @post.isPublished @post.pastScheduledTime)}}
        {{t "Manual.Others.Published"}}
        {{#if (or (eq @post.email.status "submitting") (eq @post.email.status "submitting"))}}
            {{t "Manual.Others.and_sending_to"}} {{gh-pluralize @post.email.emailCount "member"}}
        {{else if (eq @post.email.status "submitted")}}
            {{t "Manual.Others.and_sent_to"}} {{gh-pluralize @post.email.emailCount "member"}}
        {{/if}}
        {{#if (feature "savedIndicator")}}
            {{#if (not @hasDirtyAttributes)}}
                {{t "Manual.Others.Saved"}}
            {{/if}}
        {{/if}}
    {{else if @post.isScheduled}}
        <time datetime="{{@post.publishedAtUTC}}" class="ml1 green f8" data-test-schedule-countdown>
            {{t "Manual.Others.Will_be_published"}}
            {{#if @post.emailRecipientFilter}}
                {{t "Manual.Others.and_sent_to"}} <GhRecipientFilterCount @filter={{@post.emailRecipientFilter}} />
            {{/if}}
            {{this.scheduledTime}}
        </time>
        {{#if (feature "savedIndicator")}}
            {{#if (not @hasDirtyAttributes)}}
                {{t "Manual.Others.Saved"}}
            {{/if}}

        {{/if}}
    {{else if @post.isNew}}
        {{t "Manual.Others.New"}}
    {{else}}
        {{t "Manual.Others.Draft"}}
        {{#if (feature "savedIndicator")}}
           {{#if (not @hasDirtyAttributes)}}
                {{t "Manual.Others.Saved"}}
            {{/if}}
        {{/if}}
    {{/if}}
</div>