<div class="flex justify-between items-center">    
    <label>Tiers</label>
    <div class="ember-view ember-basic-dropdown-trigger
            ember-basic-dropdown-trigger--left
            ember-basic-dropdown-trigger--below
            ember-power-select-trigger gh-contentfilter-menu-trigger bg-transparent" role="button" tabindex="0" data-ebd-id="ember596-trigger" aria-owns="ember-basic-dropdown-content-ember596" aria-expanded="true">
            <span class="ember-power-select-selected-item">
            Active
        </span>
        <svg viewBox="0 0 26 17"><path d="M.469.18l11.5 13.143L23.469.18" transform="translate(1 2)" stroke-width="3" stroke="#0B0B0A" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg>
    </div>
</div>
<div class="gh-product-cards">
{{#each this.products as |product productIdx|}}
    <GhProductCard
        @product={{product}}
        @openEditProduct={{this.openEditProduct}}
    />
{{/each}}

<div class="gh-product-cards-footer">
    <button class="gh-btn gh-btn-link gh-btn-text gh-btn-icon gh-btn-add-product green" {{action "openNewProduct" product}}><span>{{svg-jar "add-stroke" class="stroke-green"}}Add tier</span></button>
</div>
</div>

{{#if this.showProductModal}}
    <GhFullscreenModal
        @modal="product"
        @model={{hash
            product=this.productModel
        }}
        @confirm={{this.confirmProductSave}}
        @close={{this.closeProductModal}}
        @modifier="edit-product action wide" />
{{/if}}
