<span class="gh-select" data-select-text="{{this.selectedTimezone.label}}" tabindex="0">
    <OneWaySelect
        @id="timezone"
        @name="general[timezone]"
        @options={{this.selectableTimezones}}
        @optionValuePath="name"
        @optionLabelPath="label"
        @value={{this.selectedTimezone}}
        @update={{action "setTimezone"}}
    />
    {{svg-jar "arrow-down-small"}}
</span>
{{#if this.hasTimezoneOverride}}
    <p>{{"Manual.Others.Your_timezone_has_been_automatically_set_to" timezone=this.timezone}}</p>
{{/if}}
<p>{{"Manual.Others.The_local_time_here_is_currently" localTime=this.localTime}}</p>
