<header class="modal-header">
    <h1>{{t "Manual.Components.Are_you_sure_you_want_to_delete_this"}} {{this.post.displayName}}?</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">{{t "Manual.Components.Close"}}</span></a>

<div class="modal-body">
    <p>
        {{t "Manual.Components.You're_about_to_delete"}}<strong>{{this.post.title}}</strong>{{t "Manual.Components.This_is_permanent!_We_warned_you,_k"}}
    </p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>{{t "Manual.Components.Cancel"}}</span></button>
    <GhTaskButton @buttonText="Delete" @successText="Deleted" @task={{this.deletePost}} @class="gh-btn gh-btn-red gh-btn-icon" />
</div>
