<header class="modal-header">
    <h1>{{t "Manual.Components.Are_you_sure_you_want_to_suspend_this_user"}}</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">{{t "Manual.Components.Close"}}</span></a>

<div class="modal-body">
    <strong>{{t "Manual.Components.WARNING:"}}</strong> {{t "Manual.Components.This_user_will_no_longer_be_able_to_log_in_but_their_posts_will_be_kept"}}
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>{{t "Manual.Components.Cancel"}}</span></button>
    <GhTaskButton @buttonText="Suspend" @successText="Suspended" @task={{this.suspendUser}} @class="gh-btn gh-btn-red gh-btn-icon" data-test-modal-confirm="true" />
</div>
