<div class="modal-body gh-ps-modal-body">
    <div class="flex pa0 flex-grow-1 gh-portal-settings">
        <div class="gh-portal-settings-sidebar">
            <h2 class="f4 fw6 pa0 ma0 flex bb b--whitegrey nl6 nr6 pl6 pr6 mb1 items-center gh-portal-settings-topbarheight">Email design</h2>
            <fieldset class="gh-portal-settings-form">
                <div class="gh-portal-setting-section">
                    <h3 class="gh-portal-setting-sectionheading">Signup options</h3>
                    <GhFormGroup @classNames="gh-members-subscribed-checkbox pb5 mb0">
                        <div class="flex justify-between items-center">
                            <div class="mr3">
                                <h4 class="gh-portal-setting-title">Setting title</h4>
                            </div>
                            <div class="for-switch small">
                                <label
                                    class="switch"
                                    for="signup-name-checkbox"
                                >
                                    <input
                                        type="checkbox"
                                        {{!-- checked={{this.settings.portalName}} --}}
                                        id="signup-name-checkbox"
                                        name="signup-name-checkbox"
                                        {{!-- onclick={{action "togglePortalName" value="target.checked"}} --}}
                                    >
                                    <span class="input-toggle-component"></span>
                                </label>
                            </div>
                        </div>
                    </GhFormGroup>
                </div>
            </fieldset>
        </div>
        <div class="gh-portal-settings-main">
            <div class="flex items-center justify-between w-100 gh-portal-settings-topbarheight">
                <div class="flex items-center">
                    <button
                        class="gh-btn mr3"
                        {{action "closeModal"}}
                        {{!-- disable mouseDown so it doesn't trigger focus-out validations --}}
                        {{on "mousedown" (optional this.noop)}}
                        data-test-button="cancel-custom-view-form"
                    >
                        <span>Cancel</span>
                    </button>

                    <GhTaskButton
                        @buttonText="Save and close"
                        @successText="Saved"
                        @task={{this.saveTask}}
                        @idleClass="gh-btn-blue"
                        @class="gh-btn gh-btn-icon"
                        data-test-button="save-members-modal-setting"
                    />
                </div>
            </div>

            <div class="gh-portal-preview-container">
                [Static email preview]
            </div>
        </div>
    </div>
</div>