<header class="modal-header">
    <h1> {{t "Manual.Components.Confirm_snippet_deletion"}}</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">{{t "Manual.Components.Close"}}</span></a>

<div class="modal-body">
    <p>
         {{t "Manual.Components.You're_about_to_delete"}}<strong>{{this.snippet.name}}</strong>{{t "Manual.Components.snippet._ This_is_permanent,_and_will_delete_the_snippet_for_all_staff_users._It_will_not_change_any_posts_where_you’ve_used_this_snippet_in_the_past"}}
    </p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>{{t "Manual.Components.Cancel"}}</span></button>
    <GhTaskButton
        @buttonText="Delete snippet"
        @successText="Deleted"
        @task={{this.deleteSnippet}}
        @taskArgs={{this.snippet}}
        @class="gh-btn gh-btn-red gh-btn-icon" />
</div>
