<div class="modal-body modal-fullsettings">
    <div class="modal-fullsettings-body">
        <div class="modal-fullsettings-sidebar with-footer">
            <div>
                <h2 class="modal-fullsettings-topbar modal-fullsettings-heading">Email newsletter design</h2>
                <fieldset class="modal-fullsettings-form">
                    <div class="modal-fullsettings-section">
                        <GhFormGroup>
                            <h4 class="modal-fullsettings-title">Show site logo and title</h4>
                            <div class="for-switch small">
                                <label
                                    class="switch"
                                    for="signup-name-checkbox"
                                >
                                    <input
                                        type="checkbox"
                                        {{!-- checked={{this.settings.portalName}} --}}
                                        id="signup-name-checkbox"
                                        name="signup-name-checkbox"
                                        {{!-- onclick={{action "togglePortalName" value="target.checked"}} --}}
                                    >
                                    <span class="input-toggle-component"></span>
                                </label>
                            </div>
                        </GhFormGroup>
                    </div>
                    <div class="modal-fullsettings-section">
                        <GhFormGroup @classNames="vertical">
                            <h4 class="modal-fullsettings-title">Typography</h4>
                            Dropdown
                        </GhFormGroup>
                    </div>
                </fieldset>
            </div>
            <div class="modal-fullsettings-section gh-members-emailsettings-footer">
                <GhFormGroup>
                    <div class="gh-members-emailsettings-promotelabel">
                        <span>{{svg-jar "heart"}}</span>
                        <div>
                            <h4 class="modal-fullsettings-title">Promote independent publishing</h4>
                            <p>Show you’re a part of the indie publishing movement with a small badge in the footer</p>
                        </div>
                    </div>
                    <div class="for-switch small">
                        <label
                            class="switch"
                            for="signup-name-checkbox"
                        >
                            <input
                                type="checkbox"
                                {{!-- checked={{this.settings.portalName}} --}}
                                id="signup-name-checkbox"
                                name="signup-name-checkbox"
                                {{!-- onclick={{action "togglePortalName" value="target.checked"}} --}}
                            >
                            <span class="input-toggle-component"></span>
                        </label>
                    </div>
                </GhFormGroup>
            </div>
        </div>
        <div class="modal-fullsettings-main">
            <div class="flex items-center justify-end w-100 modal-fullsettings-topbar">
                <div class="flex items-center">
                    <button
                        class="gh-btn mr3"
                        {{action "closeModal"}}
                        {{!-- disable mouseDown so it doesn't trigger focus-out validations --}}
                        {{on "mousedown" (optional this.noop)}}
                        data-test-button="cancel-custom-view-form"
                    >
                        <span>Cancel</span>
                    </button>

                    <GhTaskButton
                        @buttonText="Save and close"
                        @successText="Saved"
                        @task={{this.saveTask}}
                        @idleClass="gh-btn-blue"
                        @class="gh-btn gh-btn-icon"
                        data-test-button="save-members-modal-setting"
                    />
                </div>
            </div>

            <div class="modal-fullsettings-preview-container">
                [Static email preview]
            </div>
        </div>
    </div>
</div>