<div class="theme-validation-container" data-test-theme-warnings-modal="true">
    <header class="modal-header">
        <h1 data-test-theme-warnings-title>
            {{#unless this.canActivate}}
                {{this.title}}
            {{else}}
                {{this.title}} {{t "Manual.Components.with"}} {{#if this.errors}}{{t "Manual.Components.errors"}}{{else}}{{t "Manual.Components.warnings"}}{{/if}}
            {{/unless}}
        </h1>
    </header>
    <a class="close" href="#" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">{{t "Manual.Components.Close"}}</span></a>

    <div class="modal-body">
        {{#if this.fatalErrors}}
            <div>
                <h2 class="mb0 mt4 f5 fw6 red">{{t "Manual.Components.Fatal_Errors"}}</h2>
                <p class="mb2 red">{{t "Manual.Components.Must-fix_to_activate_theme"}}</p>
            </div>
            <ul class="pa0" data-test-theme-fatal-errors>
            {{#each this.fatalErrors as |error|}}
                <li class="theme-validation-item theme-fatal-error">
                    <GhThemeErrorLi @error={{error}} />
                </li>
            {{/each}}
            </ul>
        {{/if}}

        {{#if this.errors}}
            <div>
                <h2 class="mb0 mt4 f5 fw6">{{t "Manual.Components.errors"}}</h2>
                <p class="mb2">{{t "Manual.Components.Highly_recommended_to_fix,_functionality_could_be_restricted"}}</p>
            </div>

            <ul class="pa0" data-test-theme-errors>
            {{#each this.errors as |error|}}
                <li class="theme-validation-item theme-error">
                    <GhThemeErrorLi @error={{error}} />
                </li>
            {{/each}}
            </ul>
        {{/if}}

        {{#if (and this.warnings (or this.fatalErrors this.errors))}}
            <div>
                <h2 class="mb0 mt4 f5 fw6">{{t "Manual.Components.warnings"}}</h2>
            </div>
        {{/if}}
        {{#if this.warnings}}
            <ul class="pa0" data-test-theme-warnings>
            {{#each this.warnings as |error|}}
                <li class="theme-validation-item theme-warning">
                    <GhThemeErrorLi @error={{error}} />
                </li>
            {{/each}}
            </ul>
        {{/if}}
    </div>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn" data-test-modal-close-button>
        <span>Ok</span>
    </button>
</div>
