<header class="modal-header">
    <h1>{{t "Manual.Pages.Are_you_sure_you_want_to_leave_this_page"}}</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">{{t "Manual.Settings.Close"}}</span></a>

<div class="modal-body">
    <p>
        {{t "Manual.Pages.Hey_there!_It_looks_like_you're_in_the_middle_of_writing_something_and_you_haven't_saved_all_of_your_content."}}
    </p>

    <p>{{t "Manual.Tags.Save_before_you_go!"}}</p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>{{t "Manual.Tags.Stay!"}}</span></button>
    <button {{action "confirm"}} class="gh-btn gh-btn-red"><span>{{t "Manual.Tags.Leave!"}}</span></button>
</div>
