<div class="theme-validation-container" {{did-update this.reset @model}}>
    <header class="modal-header" data-test-modal="install-theme">
        <h1>
            {{#if this.installSuccess}}
                {{#if this.hasWarningsOrErrors}}
                    {{t "Manual.Components.Install_successful_with"}} {{#if this.validationErrors}}{{t "Manual.Components.errors"}}{{else}}{{t "Manual.Components.warnings"}}{{/if}}
                {{else}}
                    {{t "Manual.Components.Install_successful"}}
                {{/if}}
            {{else if this.hasWarningsOrErrors}}
                {{t "Manual.Components.Invalid_theme"}}
            {{else}}
                {{t "Manual.Components.Install_theme"}}
            {{/if}}
        </h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" this.close}}>{{svg-jar "close"}}<span class="hidden">{{t "Manual.Components.Close"}}</span></button>

    <div class="modal-body">
        {{#if this.isReady}}
            <p>
                {{t "Manual.Components.You're_about_to_install"}} <strong>{{this.themeName}}</strong> {{t "Manual.Components.You'from_the_theme_directory"}}
            </p>
            {{#if this.willOverwriteExisting}}
                <p>
                    {{t "Manual.Components.This_will_overwrite_your_existing_version_of"}} {{this.themeName}}{{if this.willOverwriteExisting.active " which is your active theme"}}.
                    {{t "Manual.Components.Any_custom_changes_will_be_lost"}}
                </p>
            {{/if}}

            {{#if this.marketplaceTheme.shortImage}}
                <div class="theme-validation-screenshot relative">
                    <img style="object-fit:contain;" src={{this.marketplaceTheme.shortImage}} alt="Edition Theme" />
                </div>
            {{/if}}
        {{/if}}

        {{#if this.willOverwriteDefault}}
            <p>
                {{t "Manual.Components.Sorry,_the_default_Casper_theme_cannot_be_overwritten"}}<br>
                {{t "Manual.Components.If_you_wish_to_make_changes_please_download_the_theme_and_upload_a_renamed_zip_file"}}
            </p>
        {{/if}}

        {{#if this.installSuccess}}
            {{#if this.hasWarningsOrErrors}}
                <p>
                    {{t "Manual.Components.The_theme"}} <strong>"{{this.themeName}}"</strong> {{t "Manual.Components.was_installed_successfully_but_we_detected_some"}} {{if this.validationErrors "errors" "warnings"}}.
                    {{#unless this.theme.active}}
                        {{t "Manual.Components.You_are_still_able_to_activate_and_use_the_theme_but_it_is_recommended_to_fix_these"}} {{if this.validationErrors "errors" "warnings"}} {{t "Manual.Components.before_you_do_so"}}
                    {{/unless}}
                </p>
            {{else}}
                {{!-- Installed with no errors --}}
                <p>{{t "Manual.Components.The_theme"}} <strong>"{{this.themeName}}"</strong> {{t "Manual.Components.was_installed_successfully"}} {{unless this.theme.active "Do you want to activate it now?"}}</p>
            {{/if}}
        {{/if}}

        {{#if this.installError}}
            {{!-- Outright failure - not found, not a theme, server error, etc --}}
            <p>{{this.themeName}} {{t "Manual.Components.failed_to_install"}}</p>
            <p class="error"><strong class="response">{{this.installError}}</strong></p>
        {{/if}}

        {{#if this.installFailure}}
            {{!-- Invalid theme --}}
            <p>{{t "Manual.Components.This_theme_is_invalid_and_cannot_be_activated._Contact_the_theme_developer"}}</p>
        {{/if}}

        {{#if this.fatalValidationErrors}}
            <div>
                <h2 class="mb0 mt4 f5 fw6">{{t "Manual.Components.Fatal_Errors"}}</h2>
                <p class="mb2">{{t "Manual.Components.Must-fix_to_activate_theme"}}</p>
            </div>

            <ul class="pa0">
            {{#each this.fatalValidationErrors as |error|}}
                <li class="theme-validation-item theme-fatal-error">
                    <GhThemeErrorLi @error={{error}} />
                </li>
            {{/each}}
            </ul>
        {{/if}}

        {{#if this.validationErrors}}
            <div>
                <h2 class="mb0 mt4 f5 fw6">{{t "Manual.Components.errors"}}</h2>
                <p class="mb2">{{t "Manual.Components.Highly_recommended_to_fix,_functionality_could_be_restricted"}}</p>
            </div>
            <ul class="pa0">
            {{#each this.validationErrors as |error|}}
                <li class="theme-validation-item theme-error">
                    <GhThemeErrorLi @error={{error}} />
                </li>
            {{/each}}
            </ul>
        {{/if}}

        {{#if this.validationWarnings}}
            <div>
                <h2 class="mb0 mt4 f5 fw6">{{t "Manual.Components.warnings"}}</h2>
            </div>
            <ul class="pa0">
            {{#each this.validationWarnings as |error|}}
                <li class="theme-validation-item theme-warning">
                    <GhThemeErrorLi @error={{error}} />
                </li>
            {{/each}}
            </ul>
        {{/if}}
    </div>

    <div class="modal-footer">
        <div class="flex items-center justify-between {{if this.hasActionButton "flex-auto"}}">
            <button type="button" class="gh-btn" {{on "click" this.close}} data-test-button="cancel">
                <span>{{#if (or this.installSuccess this.installFailure)}}{{t "Manual.Components.Close"}}{{else}}{{t "Manual.Components.Cancel"}}{{/if}}</span>
            </button>

            {{#if this.hasActionButton}}
                <div class="flex items-center">
                    {{#if this.shouldShowInstall}}
                        <GhTaskButton
                            @task={{this.installTask}}
                            @type="button"
                            @class="gh-btn gh-btn-icon gh-btn-black"
                            @buttonText={{if this.willOverwriteExisting "Overwrite" "Install"}}
                            @runningText="Installing"
                            @successText="Installed"
                            data-test-button="install"
                        />
                    {{/if}}

                    {{#if this.shouldShowActivate}}
                        <GhTaskButton
                            @task={{this.activateTask}}
                            @type="button"
                            @class="gh-btn gh-btn-icon gh-btn-black"
                            @buttonText="Activate"
                            @runningText="Activating"
                            data-test-button="activate"
                        />
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </div>
</div>