<header class="modal-header" data-test-modal="import-members">
    {{#if (eq this.state 'INIT')}}
        <h1>Import members</h1>
    {{/if}}

    {{#if (eq this.state 'MAPPING')}}
        <h1>Import members</h1>
    {{/if}}

    {{#if (eq this.state 'UPLOADING')}}
        <h1>Importing members</h1>
    {{/if}}

    {{#if (eq this.state 'PROCESSING')}}
        <h1>Import in progress</h1>
    {{/if}}

    {{#if (eq this.state 'COMPLETE')}}
        <h1>Import Complete</h1>
    {{/if}}

    {{#if (eq this.state 'ERROR')}}
        <h1>Import Error</h1>
    {{/if}}
</header>

<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>
    {{svg-jar "close"}}
    <span class="hidden">Close</span>
</a>

<div class="modal-body">
    {{#if (eq this.state 'INIT')}}
        <ModalImportMembers::CsvFileSelect @setFile={{action "setFile"}} />
    {{/if}}

    {{#if (eq this.state 'MAPPING')}}
        <ModalImportMembers::CsvFileMapping @file={{this.file}} @setMappingResult={{action "setMappingResult"}} />
    {{/if}}

    {{#if (eq this.state 'UPLOADING')}}
        <div class="bg-whitegrey-l2 ba b--whitegrey br3 gh-image-uploader gh-members-import-spinner">
            <GhLoadingSpinner />
        </div>
    {{/if}}

    {{#if (eq this.state 'PROCESSING')}}
        Background job stuff
    {{/if}}

    {{#if (eq this.state 'COMPLETE')}}
        <div class="ba b--whitegrey br3 middarkgrey bg-whitegrey-l2">
            <div class="flex items-start">
                <div class="w-50 gh-member-import-result-summary">
                    <h2>{{format-number this.importResponse.importedCount}}</h2>
                    <p>{{gh-pluralize this.importResponse.importedCount "Member" without-count=true}} added</p>
                </div>
                <div class="bl b--whitegrey w-50 gh-member-import-result-summary">
                    <h2>{{format-number this.importResponse.errorCount}}</h2>
                    <p>{{gh-pluralize this.importResponse.errorCount "Error" without-count=true}}</p>
                </div>
            </div>
        </div>
        {{#if this.importResponse.importedCount}}
            <div class="mt6">
                <div class="flex items-start">
                    <div class="flex-grow w-100">
                        <p class="ma0 pa0">{{format-number this.importResponse.importedCount}} {{gh-pluralize this.importResponse.importedCount "member" without-count=true}} were added with the following labels:</p>
                    </div>
                </div>
            </div>
        {{/if}}
        {{#if this.importResponse.errorCount}}
            <div class="mt6 gh-members-upload-errorcontainer error">
                <div class="flex items-start">
                    {{svg-jar "warning" class="w5 h5 fill-red nudge-top--3 mr3"}}
                    <div class="flex-grow w-100">
                        <p class="ma0 pa0">{{format-number this.importResponse.errorCount}} {{gh-pluralize this.importResponse.errorCount "member" without-count=true}} were skipped</p>
                        <p>
                        <a href="{{this.importResponse.errorCsvUrl}}" download="validated-import.csv">Download validated file</a>
                        </p>
                    </div>
                </div>
            </div>
        {{/if}}
    {{/if}}

    {{#if (eq this.state 'ERROR')}}
        <p>{{this.errorMessage}}</p>
    {{/if}}
</div>

<div class="modal-footer {{unless this.importResponse "modal-footer-spread"}}">
    {{#if (eq this.state 'INIT')}}
        <button {{action "closeModal"}} class="gh-btn" data-test-button="close-import-members">
            <span>Close</span>
        </button>
        <a
            class="gh-btn"
            href="https://static.ghost.org/v3.0.0/files/member-import-template.csv"
            target="_blank"
        >
            <span>Download sample CSV file</span>
        </a>
    {{/if}}

    {{#if (eq this.state 'MAPPING')}}
        <button {{action "reset"}} class="gh-btn" data-test-button="restart-import-members">
            <span>Start over</span>
        </button>
        {{#unless this.importDisabled}}
            <button class="gh-btn gh-btn-green" {{action "upload"}}>
                <span>Import {{format-number this.mappingResult.membersCount}} {{gh-pluralize this.mappingResult.membersCount 'member' without-count=true}}</span>
            </button>
        {{/unless}}
    {{/if}}

    {{#if (eq this.state 'COMPLETE')}}
        <button {{action "closeModal"}} class="gh-btn gh-btn-blue" data-test-button="close-import-members">
            <span>Done</span>
        </button>
    {{/if}}

    {{#if (eq this.state 'PROCESSING')}}
        <button {{action "closeModal"}} class="gh-btn gh-btn-blue" data-test-button="close-import-members">
            <span>OK</span>
        </button>
    {{/if}}

    {{#if (eq this.state 'ERROR')}}
        <button {{action "reset"}} class="gh-btn" data-test-button="restart-import-members">
            <span>Try again</span>
        </button>
        <button {{action "closeModal"}} class="gh-btn gh-btn-blue" data-test-button="close-import-members">
            <span>OK</span>
        </button>
    {{/if}}
</div>
