<header class="modal-header flex justify-center">
    <h1 style="margin: 0;">{{t "Manual.Members.Impersonate"}}</h1>
</header>
{{!-- disable mouseDown so it doesn't trigger focus-out validations --}}
<a class="close" href role="button" title="Close" {{action "closeModal"}} {{action (optional this.noop) on="mouseDown"}}>
    {{svg-jar "close"}}<span class="hidden">{{t "Manual.Members.Close"}}</span>
</a>

<div class="modal-body">
    <div class="flex items-center justify-center mt4 mb4">
        <GhMemberAvatar
            @member={{this.member}}
            @sizeClass={{if this.member.name 'f-headline fw4 lh-zero tracked-1' 'f-headline fw4 lh-zero tracked-1'}}
            @containerClass="w25 h25 gh-member-detail-avatar" />
    </div>

    <p class="tc pl4 pr4">
        {{t "Manual.Members.This_is_an_authentication_link_to_sign_into_(site)_as_(email),_you_can_send_it_to_them_if_they_need_it,_or_use_it_to_sign_into_their_account_for_customer_support."}}
    </p>

    <fieldset>
        <div class="gh-input-group">
            <GhTextInput
                @id="member-signin-url"
                @name="member-signin-url"
                @disabled={{true}}
                @value={{readonly signinUrl}}
                @placeholder="{{this.config.blogUrl}}/members/?token=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            />
            {{#if signinUrl}}
                <GhTaskButton
                @buttonText="Copy link"
                @task={{this.copySigninUrl}}
                @successText="Link copied"
                @class="gh-btn gh-btn-black gh-btn-icon" />
            {{else}}
                <GhTaskButton
                @buttonText="Copy link"
                @task={{this.copySigninUrl}}
                @successText="Link copied"
                @disabled="true"
                @class="gh-btn gh-btn-black gh-btn-icon" />
            {{/if}}
        </div>
    </fieldset>
</div>

<div>
    <p class="tc pt4 mb2">{{t "Manual.Members.This_link_is_only_valid_for_the_next_24_hours"}}</p>
</div>
