<header class="modal-header">
    <h1>{{t "Manual.Components.Are_you_sure_you_want_to_disconnect"}}</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">{{t "Manual.Components.Close"}}</span></a>

<div class="modal-body">
    {{t "Manual.Components.You're_about_to_disconnect_your_Stripe_account"}} ({{this.stripeConnectAccountName}}) {{t "Manual.Components.from_this_site._This_will_automatically_turn_off_paid_memberships_on_this_site"}}
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>{{t "Manual.Components.Cancel"}}</span></button>
    <GhTaskButton @buttonText="Disconnect" @successText="Disconnected" @task={{this.disconnectStripe}} @class="gh-btn gh-btn-red gh-btn-icon" />
</div>
