<header class="modal-header" data-test-modal="delete-user">
    <h1>{{t "Manual.Components.Are_you_sure_you_want_to_delete_this_user"}}</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">{{t "Manual.Components.Close"}}</span></a>

<div class="modal-body">
    {{#if this.user.count.posts}}
        <p>
            <strong>{{this.user.name}}</strong> {{t "Manual.Components.and_their"}} <strong data-test-text="user-post-count">{{gh-pluralize this.user.count.posts 'post'}}</strong> {{t "Manual.Components.will_be_permanently_deleted._If_you_don’t_want_to_lose_these_posts,_you_should_assign_them_to_a_different_author"}}
        </p>
        <p>
            {{t "Manual.Components.A_backup_will_be_automatically_downloaded_to_your_device_before_deletion"}}
        </p>
    {{else}}
        <p>
            <strong>{{this.user.name}}</strong> {{t "Manual.Components.will_be_permanently_deleted._A_backup_will_be_automatically_downloaded_to_your_device_before_deletion"}}
        </p>
    {{/if}}
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn" data-test-button="cancel-delete-user">
        <span>{{t "Manual.Components.Cancel"}}</span>
    </button>
    <GhTaskButton @buttonText="Download backup & delete user"
        @successText="Deleted"
        @task={{this.deleteUser}}
        @class="gh-btn gh-btn-red gh-btn-icon"
        data-test-button="confirm-delete-user" />
</div>
