<header class="modal-header">
    <h1>Invite a new staff user</h1>
    <p>Send an invitation for a new person to create a staff account on your site, and select a role that matches what you’d like them to be able to do.</p>
</header>
{{!-- disable mouseDown so it doesn't trigger focus-out validations --}}
<a class="close" href role="button" title="Close" {{action "closeModal"}} {{action (optional this.noop) on="mouseDown"}}>
    {{svg-jar "close"}}<span class="hidden">Close</span>
</a>

<div class="modal-body">
    <fieldset>
        <GhFormGroup @errors={{this.errors}} @hasValidated={{this.hasValidated}} @property="email">
            <label for="new-user-email">Email address</label>
            <GhTextInput
                @class="email"
                @id="new-user-email"
                @type="email"
                @placeholder="youremail@example.com"
                @name="email"
                @shouldFocus={{true}}
                @autocapitalize="off"
                @autocorrect="off"
                @value={{readonly email}}
                @input={{action (mut email) value="target.value"}}
                @keyEvents={{hash
                    Enter=(action "confirm")
                }}
                @focus-out={{action "validate" "email"}}
            />
            <GhErrorMessage @errors={{this.errors}} @property="email" />
        </GhFormGroup>

        <div class="gh-roles-container">
            <div class="gh-radio {{if (eq this.role.name "Contributor") "active"}}" {{on "click" (fn this.setRole "Contributor")}}>
                <div class="gh-radio-button"></div>
                <div class="gh-radio-content">
                    <div class="gh-radio-label">Contributor</div>
                    <div class="gh-radio-desc">Can create and edit their own posts, but cannot publish. An Editor needs to approve and publish for them.</div>
                </div>
                <div data-tooltip="Contributor capabilities" class="tooltip-left">{{svg-jar "info"}}</div>
            </div>

            <div class="gh-radio {{if (eq this.role.name "Author") "active"}}" {{on "click" (fn this.setRole "Author")}}>
                <div class="gh-radio-button"></div>
                <div class="gh-radio-content">
                    <div class="gh-radio-label">Author</div>
                    <div class="gh-radio-desc">A trusted user who can create, edit and publish their own posts, but can’t modify others.</div>
                </div>
                <div data-tooltip="Author capabilities" class="tooltip-left">{{svg-jar "info"}}</div>
            </div>

            <div class="gh-radio {{if (eq this.role.name "Editor") "active"}}" {{on "click" (fn this.setRole "Editor")}}>
                <div class="gh-radio-button"></div>
                <div class="gh-radio-content">
                    <div class="gh-radio-label">Editor</div>
                    <div class="gh-radio-desc">Can invite and manage other Authors and Contributors, as well as edit and publish any posts on the site.</div>
                </div>
                <div data-tooltip="Editor capabilities" class="tooltip-left">{{svg-jar "info"}}</div>
            </div>

            <div class="gh-radio {{if (eq this.role.name "Administrator") "active"}}" {{on "click" (fn this.setRole "Administrator")}}>
                <div class="gh-radio-button"></div>
                <div class="gh-radio-content">
                    <div class="gh-radio-label">Administrator</div>
                    <div class="gh-radio-desc">Trusted staff user who should be able to manage all content and users, as well as site settings and options.</div>
                </div>
                <div data-tooltip="Administrator capabilities" class="tooltip-left">{{svg-jar "info"}}</div>
            </div>
        </div>
    </fieldset>
</div>

<div class="modal-footer">
    <GhTaskButton @buttonText="Send invitation now &rarr;"
        @successText="Sent"
        @task={{this.sendInvitation}}
        @class="gh-btn gh-btn-black gh-btn-icon"
        @disabled={{this.fetchRoles.isRunning}}
        @disableMouseDown="true"
        data-test-button="send-user-invite" />
</div>
