{{#unless this.errorMessage}}
    <header class="modal-header" data-test-modal="delete-user">
        <h1>{{t "Manual.Components.Ready_to_go?_Here’s_what_happens_next"}}</h1>
    </header>
    <button class="close" title="Close" {{on "click" this.closeModal}}>{{svg-jar "close"}}<span class="hidden">{{t "Manual.Components.Close"}}</span></button>

    <div class="modal-body" {{did-insert this.countRecipients}}>
        {{#if this.countRecipientsTask.isRunning}}
             <div class="flex flex-column items-center">
                 <div class="gh-loading-spinner"></div>
             </div>
        {{else}}
            <p>
                {{t "Manual.Others.Your_post_will_be_delivered_to"}}
                <strong>{{this.memberCount}}</strong>
                {{#if this.model.emailOnly}}
                {{t "Manual.Others.but_it_will"}} <strong>{{t "Manual.Others.not"}}</strong>
                {{else}}
                {{t "Manual.Others.and_will"}}
                {{/if}}
                {{t "Manual.Components.and_will_be_published_on_your_site"}}{{#if this.model.isScheduled}} {{t "Manual.Components.at_the_scheduled_time"}}{{/if}} {{t "Manual.Components.Sound_good"}}
            </p>
        {{/if}}
    </div>

    <div class="modal-footer">
        <button {{on "click" this.closeModal}} class="gh-btn" data-test-button="cancel-publish-and-email">
            <span>{{t "Manual.Components.Cancel"}}</span>
        </button>
        {{#if this.model.isScheduled}}
            <GhTaskButton
                @disabled={{this.countRecipientsTask.isRunning}}
                @buttonText="Schedule"
                @runningText="Scheduling..."
                @task={{this.confirmAndCheckErrorTask}}
                @class="gh-btn gh-btn-black gh-btn-icon"
                data-test-button="confirm-publish-and-email"
            />
        {{else}}
            <GhTaskButton
                @disabled={{this.countRecipientsTask.isRunning}}
                @buttonText={{if this.model.emailOnly "Send" "Publish and send"}}
                @runningText={{if this.model.emailOnly "Sending..." "Publishing..."}}
                @task={{this.confirmAndCheckErrorTask}}
                @class="gh-btn gh-btn-black gh-btn-icon"
                data-test-button="confirm-publish-and-email"
            />
        {{/if}}
    </div>

{{else}}
    <header class="modal-header" data-test-modal="delete-user">
        <h1>{{t "Manual.Login.Failed_to_send_email."}}</h1>
    </header>
    <button class="close" title="Close" {{on "click" this.closeModal}}>{{svg-jar "close"}}<span class="hidden">{{t "Manual.Components.Close"}}</span></button>

    <div class="modal-body">
        <p>{{t "Manual.Components.Your_post_has_been_published_but_the_email_failed_to_send._Please_verify_your_email_settings_if_the_error_persists"}}</p>
        <p class="mb0">
            <button type="button" class="gh-btn gh-btn-text regular" {{action (toggle "errorDetailsOpen" this)}} data-test-toggle-error>
                {{#if this.errorDetailsOpen}}
                {{svg-jar "arrow-down" class="nudge-top--2 w2 h2 fill-darkgrey mr1"}}
                {{else}}
                {{svg-jar "arrow-right" class="nudge-top--1 w2 h2 fill-darkgrey mr1"}}
                {{/if}}
                <span>{{t "Manual.Components.Error_details"}}</span>
            </button>
        </p>

        {{#liquid-if this.errorDetailsOpen}}
        <p class="error gh-box gh-box-error mt3 mb3">
            {{svg-jar "warning"}}
            {{this.errorMessage}}
        </p>
        {{/liquid-if}}
    </div>

    <div class="modal-footer">
        <button {{on "click" this.closeModal}} class="gh-btn" data-test-button="cancel-publish-and-email">
            <span>{{t "Manual.Components.Close"}}</span>
        </button>
        <GhTaskButton
            @buttonText="Retry email"
            @runningText="Sending..."
            @task={{this.retryEmailTask}}
            @class="gh-btn gh-btn-red gh-btn-icon"
            data-test-button="retry-email"
        />
    </div>
{{/unless}}