<header>
    <h1>Create your account</h1>
</header>

<form id="setup" class="gh-flow-create">
    {{!-- Horrible hack to prevent Chrome from incorrectly auto-filling inputs --}}
    <input style="display:none;" type="text" name="fakeusernameremembered"/>
    <input style="display:none;" type="password" name="fakepasswordremembered"/>

    {{gh-profile-image fileStorage=config.fileStorage email=model.changeset.email setImage=(action (mut model.image))}}

    {{#gh-validation-container "email" model.changeset validateOnBlank=false as |value actions|}}
        <label for="email-address">Email Address</label>
        <span class="input-icon icon-mail">
            {{gh-trim-focus-input value tabindex="1" type="email" name="email" placeholder="Eg. john@example.com" autocorrect="off" focusOut=actions.focusOut update=actions.update}}
        </span>
    {{/gh-validation-container}}

    {{#gh-validation-container "name" model.changeset validateOnBlank=false as |value actions|}}
        <label for="full-name">Full name</label>
        <span class="input-icon icon-user">
            {{gh-input value tabindex="2" type="text" name="name" placeholder="Eg. John H. Watson"  autocorrect="off" focusOut=actions.focusOut update=actions.update}}
        </span>
    {{/gh-validation-container}}

    {{#gh-validation-container "password" model.changeset validateOnBlank=false as |value actions|}}
        <label for="password">Password</label>
        <span class="input-icon icon-lock">
            {{gh-input value tabindex="3" type="password" name="password" placeholder="At least 8 characters" autocorrect="off" focusOut=actions.focusOut update=actions.update}}
        </span>
    {{/gh-validation-container}}

    {{#gh-validation-container "blogTitile" model.changeset validateOnBlank=false as |value actions|}}
        <label for="blog-title">Blog title</label>
        <span class="input-icon icon-content">
            {{gh-input value tabindex="4" type="text" name="blog-title" placeholder="Eg. The Daily Awesome" autocorrect="off" focusOut=actions.focusOut update=actions.update}}
        </span>
    {{/gh-validation-container}}

    {{#gh-spin-button type="submit" tabindex="5" class="btn btn-green btn-lg btn-block" action="submit" submitting=submitting autoWidth="false"}}
        Last step: Invite your team <i class="icon-chevron"></i>
    {{/gh-spin-button}}
</form>

<p class="main-error">{{{flowErrors}}}</p>
