<div class="view-container">
    <section class="content-list js-content-list {{if postListFocused 'keyboard-focused'}}">
        <section class="content-list-content">
            <ol class="posts-list">
                {{#each sortedPosts key="id" as |post|}}
                    {{gh-posts-list-item post=post onDoubleClick="openEditor"}}
                {{/each}}

                {{infinity-loader
                    infinityModel=model
                    scrollable=".content-list-content"
                    triggerOffset=1000}}
            </ol>
        </section>
    </section>
</div>

{{#if showDeletePostModal}}
    {{gh-fullscreen-modal "delete-post"
                          model=currentPost
                          close=(action "toggleDeletePostModal")
                          modifier="action wide"}}
{{/if}}

{{outlet}}
