<div class="gh-dashboard5-stats" {{did-insert this.loadCharts}}>
    <button type="button" {{on "click" (fn this.changeChartDisplay "total")}} class={{if this.chartShowingTotal 'is-selected'}}>
        <div id="gh-dashboard5-anchor-total-normal" class="gh-dashboard5-normal">
            <div class="gh-dashboard5-number">
                {{format-number this.totalMembers}}
                {{#if this.hasTrends}}
                    <Dashboard::v5::parts::ChartPercentage @percentage={{this.totalMembersTrend}}/>
                {{/if}}
            </div>
            <small class="gh-dashboard5-info">
                {{gh-pluralize this.totalMembers "Total member" without-count=true}}
            </small>
        </div>
        <div id="gh-dashboard5-anchor-total-tooltip" class="gh-dashboard5-tooltip">
            <div class="gh-dashboard5-number">
                -
            </div>
            <small class="gh-dashboard5-info">
                -
            </small>
        </div>
    </button>
    {{#if this.hasPaidTiers}}
        <button type="button" {{on "click" (fn this.changeChartDisplay "paid")}} class={{if this.chartShowingPaid 'is-selected'}}>
            <div id="gh-dashboard5-anchor-paid-normal" class="gh-dashboard5-normal">
                <div class="gh-dashboard5-number">
                    {{format-number this.paidMembers}}
                    {{#if this.hasTrends}}
                        <Dashboard::v5::parts::ChartPercentage @percentage={{this.paidMembersTrend}}/>
                    {{/if}}
                </div>
                <small class="gh-dashboard5-info">{{gh-pluralize this.paidMembers "Paid member" without-count=true}}</small>
            </div>
            <div id="gh-dashboard5-anchor-paid-tooltip" class="gh-dashboard5-tooltip">
                <div class="gh-dashboard5-number">
                    -
                </div>
                <small class="gh-dashboard5-info">
                    -
                </small>
            </div>
        </button>
        <button type="button" {{on "click" (fn this.changeChartDisplay "monthly")}} class={{if this.chartShowingMonthly 'is-selected'}}>
            <div id="gh-dashboard5-anchor-monthly-normal" class="gh-dashboard5-normal">
                <div class="gh-dashboard5-number">
                    ${{gh-price-amount this.currentMRR}}
                    {{#if this.hasTrends}}
                        <Dashboard::v5::parts::ChartPercentage @percentage={{this.mrrTrend}}/>
                    {{/if}}
                </div>
                <small class="gh-dashboard5-info">MRR</small>
            </div>
            <div id="gh-dashboard5-anchor-monthly-tooltip" class="gh-dashboard5-tooltip">
                <div class="gh-dashboard5-number">
                    -
                </div>
                <small class="gh-dashboard5-info">
                    -
                </small>
            </div>
        </button>
    {{/if}}
</div>
<div class="gh-dashboard5-chart">
    <div id="gh-dashboard5-bar"></div>
    {{#if this.loading}}
        <div class="gh-dashboard5-loading" style={{html-safe (concat "height: " this.chartHeight "px;")}}/>
    {{else}}
        <EmberChart
            @type={{this.chartType}}
            @data={{this.chartData}}
            @options={{this.chartOptions}} />
    {{/if}}
</div>
