<section class="gh-canvas js-settings-content">
    <GhCanvasHeader class="gh-canvas-header">
        {{svg-jar "ghost-logo-orb" class="gh-logo" alt="Ghost"}}
        <div>
            <a class="gh-btn gh-btn-outline" href="https://ghost.org/docs/" target="_blank"><span>User Documentation</span></a>
            <a class="gh-btn gh-btn-outline" href="https://forum.ghost.org/" target="_blank"><span>Get Help With Ghost</span></a>
            <a class="gh-btn gh-btn-black" href="https://ghost.org/docs/contributing/" target="_blank"><span>Get involved</span></a>
        </div>
    </GhCanvasHeader>
    <section class="view-container">
        <div class="flex">
            <section class="gh-whats-new gh-about-box">
                <h2>{{svg-jar "gift"}} What's new?</h2>

            </section>

            <section class="gh-env-details gh-about-box grey">
                <h2><strong>Version</strong> {{this.config.version}}</h2>
                {{#if this.upgradeStatus.message}}
                    <section class="gh-upgrade-notification">
                        <p>
                            <strong>Update available!</strong> {{this.upgradeStatus.message}}
                        </p>
                    </section>
                {{/if}}
                <ul class="gh-env-list">
                    <li><strong>Environment</strong> {{this.config.environment}}</li>
                    <li class="gh-env-list-database-type"><strong>Database</strong> {{this.config.database}}</li>
                    <li><strong>Mail</strong> {{#if this.config.mail}}{{this.config.mail}}{{else}}Native{{/if}}</li>
                    {{#if (enable-developer-experiments)}}
                    <li><strong>Developer experiments</strong> Enabled</li>
                    {{/if}}
                </ul>
            </section>
        </div>

        <footer class="gh-copyright-info">
            Copyright &copy; 2013 &ndash; {{this.copyrightYear}} Ghost Foundation, released under the <a href="https://github.com/TryGhost/Ghost/blob/master/LICENSE" target="_blank">MIT license</a>.
            <br>
            <a href="https://ghost.org/" target="_blank">Ghost</a> is a registered trademark of <a href="https://ghost.org/trademark/" target="_blank">Ghost Foundation Ltd</a>.
        </footer>
    </section>
</section>
