<section class="gh-canvas js-settings-content">
    <GhCanvasHeader class="gh-canvas-header">
        {{svg-jar "ghost-logo-orb" class="gh-logo" alt="Ghost"}}
    </GhCanvasHeader>
    <section class="view-container">
        <section class="gh-env-details">
            <ul class="gh-env-list">
                <li class="gh-env-list-version"><strong>{{t "Manual.ProfilePitcure.Version"}}</strong> {{this.config.version}}</li>
                <li><strong>{{t "Manual.ProfilePitcure.Environment"}}</strong> {{this.config.environment}}</li>
                <li class="gh-env-list-database-type"><strong>{{t "Manual.ProfilePitcure.Database"}}</strong> {{this.config.database}}</li>
                <li><strong>{{t "Manual.ProfilePitcure.Mail"}}</strong> {{#if this.config.mail}}{{this.config.mail}}{{else}}Native{{/if}}</li>
                {{#if (enable-developer-experiments)}}
                <li><strong>{{t "Manual.ProfilePitcure.Developer_experiments"}}</strong> Enabled</li>
                {{/if}}
            </ul>
            <div class="gh-env-help">
                <a class="gh-btn" href="https://ghost.org/docs/" target="_blank"><span>{{t "Manual.ProfilePitcure.User_Documentation"}}</span></a>
                <a class="gh-btn" href="https://forum.ghost.org/" target="_blank"><span>{{t "Manual.ProfilePitcure.Get_Help_With_Ghost"}}</span></a>
            </div>
        </section>

        {{#if this.upgradeStatus.message}}
            <section class="gh-upgrade-notification">
                <p>
                    <strong>Update available!</strong> {{this.upgradeStatus.message}}
                </p>
            </section>
        {{/if}}

        <section class="gh-credits">
            <h2>{{t "Manual.ProfilePitcure.The_People_Who_Made_it_Possible"}}</h2>

            <section class="gh-contributors">
                {{partial "contributors"}}
            </section>

            <p>{{t "Manual.ProfilePitcure.Ghost_is_built_by_an_incredible_group_of_contributors_from_all_over_the_world._Here_are_just_a_few_of_the_people_who_helped_create_the_version_you’re_using_right_now."}}</p>

            <a class="gh-btn gh-btn-blue" href="https://ghost.org/docs/contributing/" target="_blank"><span>{{t "Manual.ProfilePitcure.Find_out_how_you_can_get_involved"}}</span></a>

        </section>

        <footer class="gh-copyright-info">
            {{t "Manual.ProfilePitcure.Copyright_©_2013–2021_Ghost_Foundation,_released_under_the" year=this.copyrightYear}}<a href="https://github.com/TryGhost/Ghost/blob/master/LICENSE" target="_blank">{{t "Manual.ProfilePitcure.MIT_license"}}</a>
            <br>
            <a href="https://ghost.org/" target="_blank">Ghost</a> {{t "Manual.ProfilePitcure.Registered_trademark"}} <a href="https://ghost.org/trademark/" target="_blank">Ghost Foundation Ltd</a>.
        </footer>
    </section>
</section>
