<GhApp @showSettingsMenu={{this.ui.showSettingsMenu}}>
    <GhSkipLink @anchor=".gh-main">Skip to main content</GhSkipLink>

    {{#if this.session.isAuthenticated}}
        {{#if (and (gh-user-can-admin this.session.user) this.updateUrl)}}
            <aside class="gh-update-banner">
                <div class="gh-alert-content">
                    A new major version of Ghost is available!
                </div>
                <a href={{this.updateUrl}} target="_blank" {{on "click" this.openUpdateTab}}>Click here to update to Ghost 4.0</a>
            </aside>
        {{/if}}
    {{/if}}

    <GhAlerts />

    <div class="gh-viewport {{if this.ui.showSettingsMenu 'settings-menu-expanded'}} {{if this.ui.showMobileMenu 'mobile-menu-expanded'}}">
        {{#if this.showNavMenu}}
            <GhNavMenu @icon={{this.settings.settledIcon}} />
        {{/if}}

        <main class="gh-main {{this.ui.mainClass}}" role="main">
            {{outlet}}

            {{#if this.showBilling}}
                <GhBillingModal />
            {{/if}}
        </main>

        <GhNotifications />

        <GhContentCover />

        <GhMobileNavBar />

        <GhWhatsNew />
    </div>{{!gh-viewport}}

    {{#if this.customViews.showFormModal}}
        <GhFullscreenModal
            @modal="custom-view-form"
            @close={{this.customViews.toggleFormModal}}
            @modifier="action narrow"
        />
    {{/if}}

</GhApp>

<EmberLoadRemover />