<GhApp @showSettingsMenu={{this.ui.showSettingsMenu}}>
    <GhSkipLink @anchor=".gh-main">Skip to main content</GhSkipLink>

    {{#if this.updateUrl}}
    <aside class="gh-update-banner">
        <div class="gh-alert-content">
            Your site is ready for a major update!
        </div>
        <a href="{{this.updateUrl}}" target="_blank" rel="noreferrer">Update to Ghost 4.0!</a>
    </aside>
    {{/if}}

    <GhAlerts />

    <div class="gh-viewport {{if this.ui.showSettingsMenu 'settings-menu-expanded'}} {{if this.ui.showMobileMenu 'mobile-menu-expanded'}}">
        {{#if this.showNavMenu}}
            <GhNavMenu @icon={{this.settings.settledIcon}} />
        {{/if}}

        <main class="gh-main {{this.ui.mainClass}}" role="main">
            {{outlet}}
        </main>

        <GhNotifications />

        <GhContentCover />

        <GhMobileNavBar />

        <GhWhatsNew />
    </div>{{!gh-viewport}}

    {{#if this.customViews.showFormModal}}
        <GhFullscreenModal
            @modal="custom-view-form"
            @close={{this.customViews.toggleFormModal}}
            @modifier="action narrow"
        />
    {{/if}}

    {{#if this.showBilling}}
        <GhBillingModal />
    {{/if}}
</GhApp>

<EmberLoadRemover />