<section class="gh-canvas">
    <div>
        <header class="gh-canvas-header">
            <h2 class="gh-canvas-title" data-test-screen-title>Settings</h2>
        </header>

        <section class="view-container h-100">
            <div class="flex flex-wrap items-stretch br4 mt2 mb10 bg-white shadow-1 pa4">
                {{#link-to "settings.general" data-test-nav="settings" classNames="flex w-33 pa4 highlight-whitegrey br3"}}
                    <span>{{svg-jar "settings" class="w5 fill-midlightgrey"}}</span>
                    <div class="ml3">
                        <h2 class="f5 fw6 ma0 pa0">General</h2>
                        <p class="ma0 mt1 pa0 midgrey lh-copy">View and update your publication details</p>
                    </div>
                {{/link-to}}

                {{#link-to "settings.design" data-test-nav="design" classNames="flex w-33 pa4 highlight-whitegrey br3"}}
                <span>{{svg-jar "paintbrush" class="w5 fill-midlightgrey"}}</span>
                <div class="ml3">
                    <h2 class="f5 fw6 ma0 pa0">Design</h2>
                    <p class="ma0 mt1 pa0 midgrey lh-copy">Upload or changed your theme, set site navigation</p>
                </div>
                {{/link-to}}

                {{#link-to "settings.code-injection" data-test-nav="code-injection" classNames="flex w-33 pa4 highlight-whitegrey br3"}}
                <span>{{svg-jar "brackets" class="w5 fill-midlightgrey"}}</span>
                <div class="ml3">
                    <h2 class="f5 fw6 ma0 pa0">Code injection</h2>
                    <p class="ma0 mt1 pa0 midgrey lh-copy">Set up custom tracking code or meta tags</p>
                </div>
                {{/link-to}}

                {{#link-to "settings.integrations" data-test-nav="integrations" classNames="flex w-33 pa4 highlight-whitegrey br3"}}
                <span>{{svg-jar "modules" class="w5 fill-midlightgrey"}}</span>
                <div class="ml3">
                    <h2 class="f5 fw6 ma0 pa0">Integrations</h2>
                    <p class="ma0 mt1 pa0 midgrey lh-copy">Integrate apps and services with your publication</p>
                </div>
                {{/link-to}}
                
                {{#link-to "settings.labs" data-test-nav="labs" classNames="flex w-33 pa4 highlight-whitegrey br3"}}
                <span>{{svg-jar "labs" class="w5 fill-midlightgrey"}}</span>
                <div class="ml3">
                    <h2 class="f5 fw6 ma0 pa0">Labs</h2>
                    <p class="ma0 mt1 pa0 midgrey lh-copy">Testing ground for experimental features</p>
                </div>
                {{/link-to}}
            </div>
        </section>
    </div>
</section>