<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            {{t "Manual.Staff.Settings"}}
        </h2>
    </GhCanvasHeader>

    <section class="view-container">
        <div class="gh-setting-header gh-first-header">{{t "Manual.Settings.Website"}}</div>
        <div class="gh-settings-main-grid">
            <LinkTo class="gh-setting-group" @route="settings.general" data-test-nav="general">
                <span class="yellow">{{svg-jar "settings"}}</span>
                <div>
                    <h4>{{t "Manual.Settings.General"}}</h4>
                    <p>{{t "Manual.Settings.Basic_publication_details_and_site_metadata"}}</p>
                </div>
            </LinkTo>
            <button type="button" class="gh-setting-group" {{action (toggle "showBrandingModal" this)}} data-test-nav="branding">
                <span class="blue">{{svg-jar "paint-palette"}}</span>
                <div>
                    <h4>{{t "Manual.Settings.Branding"}}</h4>
                    <p>{{t "Manual.Settings.Upload_site_logo_and_set_accent_color"}}</p>
                </div>
            </button>
            <LinkTo class="gh-setting-group" @route="settings.theme" data-test-nav="theme">
                <span class="green">{{svg-jar "view-site"}}</span>
                <div>
                    <h4>{{t "Manual.Settings.Theme"}}</h4>
                    <p>{{t "Manual.Settings.Install_and_update_themes"}}</p>
                </div>
            </LinkTo>
            <LinkTo class="gh-setting-group" @route="settings.navigation" data-test-nav="navigation">
                <span class="pink">{{svg-jar "compass-2"}}</span>
                <div>
                    <h4>{{t "Manual.Settings.Navegation"}}</h4>
                    <p>{{t "Manual.Settings.Set_up_primary_and_secondary_menus"}}</p>
                </div>
            </LinkTo>
        </div>

        <div class="gh-setting-header">{{t "Manual.Settings.Members"}}</div>
        <div class="gh-settings-main-grid">
            <LinkTo class="gh-setting-group" @route="settings.membership" data-test-nav="members-membership">
                <span class="blue">{{svg-jar "members"}}</span>
                <div>
                    <h4>{{t "Manual.Settings.Membership"}}</h4>
                    <p>{{t "Manual.Settings.Access,_subscription,_and_pricing_options"}}</p>
                </div>
            </LinkTo>
            <LinkTo class="gh-setting-group" @route="settings.members-email" data-test-nav="members-email">
                <span class="yellow">{{svg-jar "email-stroke"}}</span>
                <div>
                    <h4>{{t "Manual.Settings.Email_newsletter"}}</h4>
                    <p>{{t "Manual.Settings.Customize_emails_and_set_email_addresses"}}</p>
                </div>
            </LinkTo>
        </div>

        <div class="gh-setting-header">{{t "Manual.Settings.Advanced"}}</div>
        <div class="gh-settings-main-grid">
            <LinkTo class="gh-setting-group" @route="settings.code-injection" data-test-nav="code-injection">
                <span class="green">{{svg-jar "brackets"}}</span>
                <div>
                    <h4>{{t "Manual.Settings.Code_injection"}}</h4>
                    <p>{{t "Manual.Settings.Add_code_to_your_publication"}}</p>
                </div>
            </LinkTo>
            <LinkTo class="gh-setting-group" @route="settings.labs" data-test-nav="labs">
                <span class="pink">{{svg-jar "labs"}}</span>
                <div>
                    <h4>{{t "Manual.Settings.Labs"}}</h4>
                    <p>{{t "Manual.Settings.Testing_ground_for_new_features"}}</p>
                </div>
            </LinkTo>
        </div>
    </section>
</section>

{{#if this.showBrandingModal}}
    <GhFullscreenModal @modal="branding"
        @close={{action "closeBrandingModal"}}
        @modifier="full-overlay branding-modal" />
{{/if}}
{{#if this.showLeaveSettingsModal}}
    <GhFullscreenModal @modal="leave-settings"
        @confirm={{action "leavePortalSettings"}}
        @close={{action "closeLeaveSettingsModal"}}
        @modifier="action wide" />
{{/if}}