<div class="gh-flow">

    <div class="gh-flow-content-wrap">
        <section class="gh-flow-content">
            <header>
                <h1>Create your account</h1>
            </header>

            <form id="signup" class="gh-flow-create" method="post" novalidate="novalidate">
                {{!-- Hack to stop Chrome's broken auto-fills --}}
                <input style="display:none;" type="text" name="fakeusernameremembered"/>
                <input style="display:none;" type="password" name="fakepasswordremembered"/>

                {{gh-profile-image fileStorage=config.fileStorage email=model.changeset.email setImage=(action (mut model.image))}}

                {{#gh-validation-container "email" model.changeset as |value actions|}}
                    <label for="email-address">Email Address</label>
                    <span class="input-icon icon-mail">
                        {{gh-input value id="email-address" type="email" name="email" placeholder="Eg. john@example.com" disabled="disabled" autocorrect="off" focusOut=actions.focusOut update=actions.update}}
                    </span>
                {{/gh-validation-container}}

                {{#gh-validation-container "name" model.changeset as |value actions|}}
                    <label for="full-name">Full Name</label>
                    <span class="input-icon icon-user">
                        {{gh-trim-focus-input value id="full-name" tabindex="1" type="text" name="name" placeholder="Eg. John H. Watson" autocorrect="off" focusOut=actions.focusOut update=actions.update}}
                    </span>
                {{/gh-validation-container}}

                {{#gh-validation-container "password" model.changeset as |value actions|}}
                    <label for="password">Password</label>
                    <span class="input-icon icon-lock">
                        {{gh-input value id="password" tabindex="2" type="password" name="password" placeholder="At least 8 characters" autocorrect="off" focusOut=actions.focusOut update=actions.update}}
                    </span>
                {{/gh-validation-container}}

                {{#gh-spin-button tabindex="3" type="submit" class="btn btn-green btn-lg btn-block" action="signup" submitting=submitting autoWidth="false"}}Create Account{{/gh-spin-button}}
            </form>

            <p class="main-error">{{{flowErrors}}}</p>
        </section>
    </div>

</div>
